{% extends "base.html" %} {% load static %} {% block content %}

<header
  class="banner banner-about d-flex justify-content-center align-items-center"
>
  <div class="container">
    <div class="content d-flex flex-column text-white">
      <h2
        class="h1 fs-1 fw-semibold fw-lg-bold lh-base text-center w-75 mx-auto custom-title"
        data-aos="fade-down"
      >
        لقد اجتمعنا في هذا البيت من كل مكان
      </h2>
      <p
        class="h4 fs-4 fw-semibold fw-lg-bold lh-base text-center w-75 mx-auto custom-txt"
      >
        لنعطي من خبراتنا و معرفتنا كل من يريد معلومة او يبحث عن متخصص في احدى
        المجالات ولديه الخبرة من ارض الواقع في العديد من التخصصات المالية و
        الادارية و الانشطة التجارية المختلفة.
      </p>
    </div>
  </div>
</header>
<main class="main-about">
  <section class="who">
    <div class="container">
      <div
        class="d-flex align-items-center justify-content-center pb-4"
        data-aos="fade-down"
      >
        <img
          class="d-none"
          src="{% static 'imgs/icons/arrow-left-line.svg' %}"
          alt="arrow icon"
        />
        <h3 class="h3 mb-0 color-primary text-uppercase custom-title">
          في بيتنا خبير
        </h3>
      </div>
      <div class="row row-cols-1 row-cols-lg-3 g-4 cards-p">
        <div class="col">
          <div class="card h-100 shadow border-0" data-aos="flip-left">
            <img
              class="card-img-top"
              src="{% static 'imgs/background/grid1.png' %}"
              alt="card image"
              height="269px"
            />
            <div class="card-body text-center card-content">
              <h5 class="card-title color-primary fw-bold custom-title3">
                التأسيس
              </h5>
              <p class="card-text lh-lg custom-txt3">
                من خلال خبراتنا كمؤسسين لبيت الخبراء أصبح لدينا الكثير من
                الأصدقاء و الزملاء و المعارف في جميع المجالات و بالتالي مهما كان
                مشروعك أو هدفك سنبحث لك في بيتنا ما يلبي احتياجاتك أو قد نستضيف
                لمشروعك خصيصا من يدعم طلبك و يلبي رغبتك.<span
                  class="d-inline-block color-primary"
                ></span>
              </p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card h-100 shadow border-0" data-aos="flip-up">
            <img
              class="card-img-top"
              src="{% static 'imgs/background/grid2.png' %}"
              alt="card image"
              height="269px"
            />
            <div class="card-body text-center card-content">
              <h5 class="card-title color-primary fw-bold custom-title3">
                الأهداف
              </h5>
              <p class="card-text lh-lg custom-txt3">
                نحن نمنح خبراءنا الفرصة ليمارسوا شغفهم من خلال المشاركة بخبراتهم
                ونمنح عملاءنا الجودة و سرعة التنفيذ والنتيجة التي تحقق طموحاتهم
                و أهدافهم دون تعقيدات و مقدمات.<span
                  class="d-inline-block color-primary"
                ></span>
              </p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card h-100 shadow border-0" data-aos="flip-right">
            <img
              class="card-img-top"
              src="{% static 'imgs/background/grid3.png' %}"
              alt="card image"
              height="269px"
            />
            <div class="card-body text-center card-content">
              <h5 class="card-title color-primary fw-bold custom-title3">
                رؤيتنا
              </h5>
              <p class="card-text lh-lg custom-txt3">
                هي المساهمة في صناعة مؤسسات وطنية تعمل بمفهوم الاستدامة و
                الاستمرارية ,تساهم بشكل مباشر في دعم ركائز الإقتصاد الوطني, من
                خلال تطبيق معايير العمل المؤسسي و إعادة الهيكلة و وضع قواعد
                متينة و بنية تحتية صلبة وذلك بتطبيق مجموعة من الخدمات و البرامج
                التي تجعل المنشأة لديها بيئة عمل جيدة و احترافية و خطة
                إستراتيجية وهدف واحد و هو<span
                  class="d-inline-block color-primary"
                  >&quot;الحوكمة والاستدامة&quot;</span
                >
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>

{% endblock content %}
