{% extends "base.html" %}
{% load static %}


{% block content %}
<!-- start work bg sec -->
<div class="workbg-sec">
  <div class="container-fluid p-0">
      <img src="{% static 'images/home/requestbg1.jpg' %}" alt="image" itemprop="image" class="workbg-image"/>
  </div>
</div>
<!-- end work bg sec -->
<!-- start services -->
<div class="services-sec py-4 bg-white" style="background: white;">
  <div class="container-fluid custom-container">
      <div class="d-flex justify-content-start align-items-center "style="padding: 20px 0px;gap: 10px;">
          <img src="{% static 'images/home/arrow.svg' %}" itemprop="image" alt="icon"style="width: 24px;height: 24px;"/>
          <h4 class="section-title" itemprop="title">
              آلية العمل
          </h4>
      </div>
      <div class="py-4 my-3 text-center">
          <div class="steps-container w-100">
            <div class="steps">
                <div class="steps-content">
                  <div class="steps__item z4">
                      1
                    </div>
                    <p>
                      آلية تنفيذ الفكرة
                    </p>
                </div>
                <div class="steps-content">
                  <div class="steps__item z3">
                      2
                    </div>
                    <p>
                      الخبير أو الفريق المناسب لهذه المهمة
                    </p>
                </div>
                <div class="steps-content">
                  <div class="steps__item z2">
                      3
                    </div>
                    <p>
                      مدة التنفيذ و التكلفة
                    </p>
                </div>
                <div class="steps-content">
                  <div class="steps__item z1">
                      4
                    </div>
                    <p>
                      ماهي الخبرات التي تناسب مشروعك
                    </p>
                </div>
                <div class="steps-content">
                  <div class="steps__item z4">
                      5
                    </div>
                    <p>
                      ثم نطلب تحديد موعد ليشرح لك الخبير ما سيقوم به بشكل مفصل
                    </p>
                </div>



            </div>
          </div>
        </div>
  </div>
</div>
<!-- end services -->
{% endblock content %}