{% extends "base.html" %}
{% load static %}



{% block content %}



  <header class="banner banner-home d-flex justify-content-center align-items-center">
    <div class="container">
      <div class="content d-flex flex-column text-white">
        <h2 class="content-title h1 fs-1 fw-semibold fw-lg-bold lh-base text-center w-50 mx-auto custom-title" data-aos="fade-down">
          بيت الخبراء يفتح أبوابه ويأخذ معك رحلة التغيير من البداية</h2>
      </div>
    </div>
  </header>
  <section class="intro d-flex justify-content-center align-items-center">
    <div class="container">
      <div class="d-flex flex-column justify-content-center align-items-center">
        <h2 class="color-primary fs-2 fw-semibold fw-lg-bold lh-base custom-title" data-aos="fade-down">لقد اجتمعنا في هذا البيت من
          كل مكان</h2>
        <p class="fs-4 fw-normal fw-lg-medium lh-base w-75 text-center custom-txt" data-aos="fade-down">لنعطي من خبراتنا و
          معرفتنا كل من يريد معلومة أو يبحث عن متخصص في إحدى المجالات ولديه الخبرة من أرض الواقع في العديد من التخصصات
          المالية و الإدارية و الأنشطة التجارية المختلفة.</p>
        <div class="buttons-group d-flex align-items-start gap-3" data-aos="fade-right">
          <a href="{% url 'about' %}" class="btn circle-btn button-primary" type="button">من نحن</a>
          <a href="{% url 'consultation_request' %}" class="btn circle-btn button-light" type="button">تواصل معنا</a>
        </div>
      </div>
    </div>
  </section>
  <section class="slogan bg-gray2">
    <div class="container">
      <div class="d-flex align-items-center justify-content-center pb-4" data-aos="fade-down"><img class="d-none"
          src="{% static './imgs/icons/arrow-left-line.svg' %}" alt="arrow icon" />
        <h3 class="h3 mb-0 color-primary text-uppercase custom-title">بيت الخبراء الموحد</h3>
      </div>
      <div class="slogan-items g-3 justify-content-between d-flex flex-row flex-wrap">
        <figure class="slogan-figure text-center shadow row flex-column align-items-center" data-aos="fade-right"><img
            class="img-fluid slogan-img" src="{% static '/imgs/icons/deal.png' %}" alt="client">
          <figcaption class="fs-4 fw-bold color-primary">
            <h5 class="custom-title3">تعاون</h5>
            <h5 class="custom-title3">Cooperation</h5>
          </figcaption>
        </figure>
        <figure class="slogan-figure text-center shadow row flex-column align-items-center" data-aos="fade-up"><img
            class="img-fluid slogan-img" src="{% static '/imgs/icons/content-strategy.png' %}" alt="client">
          <figcaption class="fs-4 fw-bold color-primary">
            <h5 class="custom-title3">إستراتيجية</h5>
            <h5 class="custom-title3">Strategy</h5>
          </figcaption>
        </figure>
        <figure class="slogan-figure text-center shadow row flex-column align-items-center" data-aos="fade-down"><img
            class="img-fluid slogan-img" src="{% static '/imgs/icons/creativity.png' %}" alt="client">
          <figcaption class="fs-4 fw-bold color-primary">
            <h5 class="custom-title3">إبتكار</h5>
            <h5 class="custom-title3">Innovation</h5>
          </figcaption>
        </figure>
        <figure class="slogan-figure text-center shadow row flex-column align-items-center" data-aos="fade-left"><img
            class="img-fluid slogan-img" src="{% static '/imgs/icons/growth.png' %}" alt="client">
          <figcaption class="fs-4 fw-bold color-primary">
            <h5 class="custom-title3">نجاح</h5>
            <h5 class="custom-title3">Success</h5>
          </figcaption>
        </figure>
      </div>
    </div>
  </section>
  <section class="ceo">
    <div class="container">
      <div class="d-flex align-items-center justify-content-center pb-4" data-aos="fade-down"><img class="d-none"
        src="{% static './imgs/icons/arrow-left-line.svg' %}" alt="arrow icon" />
        <h3 class="h3 mb-0 color-primary text-uppercase custom-title">كلمة الرئيس التنفيذي</h3>
      </div>
      <div class="custom-row row justify-content-between">
        <div class="col-12 col-lg-8">
          <p class="ceo-word custom-txt" data-aos="fade-right"><span>إن مبدأ الإستشارة في حياتنا هو نهج صحيح يجب أن نضعه من
              أولوياتنا<span class='color-primary'> لنضمن بمشيئة الله الإستقرار و الاستمرار و النجاح لأعمالنا و
                منشآتنا</span>. و لأن هذا المجال يكمن نجاحه في تحديد الأهداف بشكل صحيح فإن <span
                class='color-primary'>الوصول الى تحقيق هذه الأهداف يعتمد على اتباع خطوات صحيحة و واضحة</span> و مجربة
              و بالتالي نصنع منهجية سلسة و مرنة تؤدي بنا الى تحقيق المستهدفات. و بناءاً عليه قمنا بتشييد <span
                class='color-primary fw-bold'>”بيت الخبراء الموحد”</span> ليجتمع فيه خبراءنا مع رواد الأعمال و أصحاب
              المنشآت و نمكنهم من الوصول الى أهدافهم من خلال خبير متخصص في مجالهم من واقع خبرة عملية ناجحة</span></p>
        </div>
        <div class="col-12 col-lg-4"><a href="https://www.linkedin.com/in/rawad-zarea-"><img class="img-fluid img-ceo"
              src="{% static '/imgs/background/executive.png' %}" alt="CEO" data-aos="zoom-in-left"></a></div>
      </div>
    </div>
  </section>
  <section class="start-about bg-gray2">
    <div class="container">
      <div class="d-flex flex-column justify-content-center align-items-center">
        <div class="d-flex align-items-center justify-content-center pb-4" data-aos="fade-down">
          <h3 class="h3 mb-0 color-primary text-uppercase custom-title">البداية</h3>
        </div>
        <p class="fs-4 fw-normal fw-lg-medium lh-base w-75 text-center custom-txt" data-aos="fade-down">تأسس <span class='color-primary fw-bold'>"بيت الخبراء الموحد"</span> في عام 2023 ليكون مؤسسة سعودية رائدة تجمع بين الخبرة والاستشارات، حيث يلتقي الخبراء مع رواد الأعمال وأصحاب المنشآت لتقديم حلول استشارية احترافية تساهم في تحقيق أهدافهم، وذلك عبر خطوات مدروسة ومنهجيات فعّالة تضمن الاستقرار والنجاح</p>
      </div>
    </div>
  </section>
  <section class="who">
    <div class="container">
      <div class="d-flex align-items-center justify-content-center pb-4" data-aos="fade-down"><img class="d-none"
        src="{% static './imgs/icons/arrow-left-line.svg' %}" alt="arrow icon" />
        <h3 class="h3 mb-0 color-primary text-uppercase custom-title">في بيتنا خبير</h3>
      </div>
      <div class="row row-cols-1 row-cols-lg-3 g-4 cards-p">
        <div class="col">
          <div class="card h-100 shadow border-0" data-aos="flip-left"><img class="card-img-top"
              src="{% static '/imgs/background/grid1.png' %}" alt="card image" height="269px">
            <div class="card-body text-center card-content">
              <h5 class="card-title color-primary fw-bold custom-title3">التأسيس</h5>
              <p class="card-text lh-lg custom-txt3">من خلال خبراتنا كمؤسسين لبيت الخبراء أصبح لدينا الكثير من الأصدقاء و الزملاء
                و المعارف في جميع المجالات و بالتالي مهما كان مشروعك أو هدفك سنبحث لك في بيتنا ما يلبي احتياجاتك أو قد
                نستضيف لمشروعك خصيصا من يدعم طلبك و يلبي رغبتك.<span class="d-inline-block color-primary"></span></p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card h-100 shadow border-0" data-aos="flip-up"><img class="card-img-top"
              src="{% static '/imgs/background/grid2.png' %}" alt="card image" height="269px">
            <div class="card-body text-center card-content">
              <h5 class="card-title color-primary fw-bold custom-title3">الأهداف</h5>
              <p class="card-text lh-lg custom-txt3">نحن نمنح خبراءنا الفرصة ليمارسوا شغفهم من خلال المشاركة بخبراتهم ونمنح
                عملاءنا الجودة و سرعة التنفيذ والنتيجة التي تحقق طموحاتهم و أهدافهم دون تعقيدات و مقدمات.<span
                  class="d-inline-block color-primary"></span></p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card h-100 shadow border-0" data-aos="flip-right"><img class="card-img-top"
              src="{% static '/imgs/background/grid3.png' %}" alt="card image" height="269px">
            <div class="card-body text-center card-content">
              <h5 class="card-title color-primary fw-bold custom-title3">رؤيتنا</h5>
              <p class="card-text lh-lg custom-txt3">هي المساهمة في صناعة مؤسسات وطنية تعمل بمفهوم الاستدامة و الاستمرارية ,تساهم
                بشكل مباشر في دعم ركائز الإقتصاد الوطني, من خلال تطبيق معايير العمل المؤسسي و إعادة الهيكلة و وضع
                قواعد متينة و بنية تحتية صلبة وذلك بتطبيق مجموعة من الخدمات و البرامج التي تجعل المنشأة لديها بيئة عمل
                جيدة و احترافية و خطة إستراتيجية وهدف واحد و هو<span class="d-inline-block color-primary">&quot;الحوكمة
                  والاستدامة&quot;</span></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="exp bg-gray2 overflow-x-hidden">
    <div class="exp-body text-center">
      <h3 class="fs-bold h3 mb-0 color-primary text-uppercase custom-title">الخبرات</h3>
      <p class="txt custom-txt" data-aos="zoom-in-up">لقد عمل خبراءنا في مجالات مختلفة و قطاعات ريادية و سنستعرض هنا جهات العمل
        التي إنضم اليها خبراءنا خلال مسيرتهم المهنية</p>
    </div>
    <div class="clients position-relative overflow-hidden w-100" id="scrollableElement">
      <div class="marquee d-flex justify-content-between"><img class="img-fluid client-img" id="marquee"
          src=" {% static 'imgs/exprience_logos/Asset-94.png' %} " alt="client logo"><img class="img-fluid client-img"
          id="marquee" src=" {% static 'imgs/exprience_logos/Asset-95.png' %} " alt="client logo"><img
          class="img-fluid client-img" id="marquee" src=" {% static 'imgs/exprience_logos/Asset-96.png' %} "
          alt="client logo"><img class="img-fluid client-img" id="marquee"
          src=" {% static 'imgs/exprience_logos/Asset-97.png' %} " alt="client logo"><img class="img-fluid client-img"
          id="marquee" src=" {% static 'imgs/exprience_logos/Asset-98.png' %} " alt="client logo"><img
          class="img-fluid client-img" id="marquee" src=" {% static 'imgs/exprience_logos/Asset-99.png' %} "
          alt="client logo"><img class="img-fluid client-img" id="marquee"
          src=" {% static 'imgs/exprience_logos/Asset-100.png' %} " alt="client logo"><img class="img-fluid client-img"
          id="marquee" src=" {% static 'imgs/exprience_logos/Asset-101.png' %} " alt="client logo"><img
          class="img-fluid client-img" id="marquee" src=" {% static 'imgs/exprience_logos/Asset-102.png' %} "
          alt="client logo">
      </div>
    </div>
    <div class="exp-btn text-center pt-4"><a class="exp-btn btn circle-btn button-primary"
        href="{% url 'experience' %}">مشاهدة المزيد</a>
    </div>
  </section>
  <section class="services">
    <div class="container">
      <div class="d-flex align-items-center justify-content-center pb-4" data-aos="fade-down"><img class="d-none"
        src="{% static './imgs/icons/arrow-left-line.svg' %}" alt="arrow icon" />
        <h3 class="h3 mb-0 color-primary text-uppercase custom-title">خدماتنا</h3>
      </div>
      <div class="row justify-content-between mt-4 service-wrapper">
        <div class="col-12 col-lg-4 text-center"><img class="img-fluid service-img"
            src="{% static 'imgs/background/service1-2.png' %}" alt="service 1" data-aos="zoom-out-up"></div>
        <div class="col-12 col-lg-8">
          <div class="content" data-aos="zoom-in-left">
            <h3 class="fs-bold h3 mb-0 color-primary text-uppercase custom-title2">صناعة قصص النجاح</h3>
            <p class="service-txt m-0 w-100 custom-txt"><span>عندما تصادفك عقبة أو لديك فكرة و ربما تطمح لتطوير معين في قطاع ما
                أو على مستوى المنشأة فإن <span class='fw-bold'>بيت الخبراء</span> يفتح أبوابه لأي تطوير أو تغيير و
                يأخذ معك رحلة التغيير من البداية. إن كل عميل لبيت الخبراء الموحد هو ضيف يأخذ حقه بالكامل من الإنصات و
                المناقشة حتى تتكون الفكرة بالكامل.</span></p>
          </div>
        </div>
      </div>
      <div class="row flex-row-reverse justify-content-between mt-4">
        <div class="col-12 col-lg-4 text-center"><img class="img-fluid service-img"
            src="{% static 'imgs/background/service2-2.png' %}" alt="service 1" data-aos="zoom-out-down"></div>
        <div class="col-12 col-lg-8">
          <div class="content" data-aos="zoom-in-right">
            <h3 class="fs-bold h3 mb-0 color-primary text-uppercase custom-title2">تحقيق الاستدامة</h3>
            <p class="service-txt m-0 w-100 custom-txt"><span>و لأن نكون بيت كل منشأة ترغب في إعادة ترتيب أوراقها و تتجه نحو عمل
                مُؤَسسي منظم من خلال تطبيق معايير الجودة و الحوكمة و التطوير الذي يتناسب مع التطلعات الوطنية و الدولية
                و التي تنقل المنشآت بمختلف تصنيفها سواءاً الناشئة أو المنشآت المتوسطة و الصغيرة لمستوى <span
                  class='fw-bold'>أكثر استقراراً و ثباتاً.</span></span></p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- ===== Products Section ===== -->
  <section class="products-section bg-gray2">
    <div class="container">
      <div class="d-flex align-items-center justify-content-center pb-2" data-aos="fade-down">
        <h3 class="h3 mb-0 color-primary text-uppercase custom-title">منتجاتنا الاستشارية</h3>
      </div>
      <p class="text-center custom-txt mb-5" style="color: var(--color-text);" data-aos="fade-down">
        تقدم شركة بيت الخبراء الموحد مجموعة شاملة من الخدمات الاستشارية، من خلال نخبة من الخبراء المتخصصين في مجالات الحوكمة المالية، التقنية الموارد البشرية، والتطوير المؤسسي.
      </p>

      <!-- Owl Carousel -->
      <div class="products-carousel owl-carousel owl-theme" data-aos="fade-up">

        <!-- Card 1: حوكمة الشركات -->
        <div class="item">
          <div class="product-card shadow-sm">
            <div class="product-card-content">
              <div class="product-card-icon">
                <img src="{% static 'imgs/specialization_icons/Asset-1.svg' %}" alt="حوكمة الشركات" width="56" height="56">
              </div>
              <h5 class="product-card-title custom-title3">حوكمة الشركات</h5>
              <p class="product-card-desc custom-txt3">رحلة التغيير نحو الفاعلية والقيادة</p>
            </div>
            <button class="btn product-card-btn" data-bs-toggle="modal" data-bs-target="#productModal1">عرض التفاصيل</button>
          </div>
        </div>

        <!-- Card 2: حوكمة العائلة -->
        <div class="item">
          <div class="product-card shadow-sm">
            <div class="product-card-content">
              <div class="product-card-icon">
                <img src="{% static 'imgs/specialization_icons/Asset-2.svg' %}" alt="حوكمة العائلة" width="56" height="56">
              </div>
              <h5 class="product-card-title custom-title3">حوكمة العائلة</h5>
              <p class="product-card-desc custom-txt3">لأن الأرث يحتاج إلى نظام، والعائلة تستحق الانسجام</p>
            </div>
            <button class="btn product-card-btn" data-bs-toggle="modal" data-bs-target="#productModal2">عرض التفاصيل</button>
          </div>
        </div>

        <!-- Card 3: تقييم مجلس الإدارة -->
        <div class="item">
          <div class="product-card shadow-sm">
            <div class="product-card-content">
              <div class="product-card-icon">
                <img src="{% static 'imgs/specialization_icons/Asset-3.svg' %}" alt="تقييم مجلس الإدارة" width="56" height="56">
              </div>
              <h5 class="product-card-title custom-title3">تقييم مجلس الإدارة</h5>
              <p class="product-card-desc custom-txt3">تقييم الرؤية، الإستراتيجية والأداء المؤسسي</p>
            </div>
            <button class="btn product-card-btn" data-bs-toggle="modal" data-bs-target="#productModal3">عرض التفاصيل</button>
          </div>
        </div>

        <!-- Card 4: إستراتيجية رأس المال البشري -->
        <div class="item">
          <div class="product-card shadow-sm">
            <div class="product-card-content">
              <div class="product-card-icon">
                <img src="{% static 'imgs/specialization_icons/Asset-4.svg' %}" alt="رأس المال البشري" width="56" height="56">
              </div>
              <h5 class="product-card-title custom-title3">إستراتيجية رأس المال البشري</h5>
              <p class="product-card-desc custom-txt3">الموهبة المناسبة تصنع الفارق</p>
            </div>
            <button class="btn product-card-btn" data-bs-toggle="modal" data-bs-target="#productModal4">عرض التفاصيل</button>
          </div>
        </div>

        <!-- Card 5: المدير المالي الخارجي -->
        <div class="item">
          <div class="product-card shadow-sm">
            <div class="product-card-content">
              <div class="product-card-icon">
                <img src="{% static 'imgs/specialization_icons/Asset-5.svg' %}" alt="المدير المالي الخارجي" width="56" height="56">
              </div>
              <h5 class="product-card-title custom-title3">المدير المالي الخارجي</h5>
              <p class="product-card-desc custom-txt3">خدمة مالية متخصصة تساعدك على ضبط الأداء المالي</p>
            </div>
            <button class="btn product-card-btn" data-bs-toggle="modal" data-bs-target="#productModal5">عرض التفاصيل</button>
          </div>
        </div>

        <!-- Card 6: دراسات الأعمال -->
        <div class="item">
          <div class="product-card shadow-sm">
            <div class="product-card-content">
              <div class="product-card-icon">
                <img src="{% static 'imgs/specialization_icons/Asset-6.svg' %}" alt="دراسات الأعمال" width="56" height="56">
              </div>
              <h5 class="product-card-title custom-title3">دراسات الأعمال</h5>
              <p class="product-card-desc custom-txt3">دراسات تحليلية احترافية لدعم قرارات الاستثمار والتوسع</p>
            </div>
            <button class="btn product-card-btn" data-bs-toggle="modal" data-bs-target="#productModal6">عرض التفاصيل</button>
          </div>
        </div>

        <!-- Card 7: المنتجات الاستشارية للمنشآت الصغيرة والمتوسطة -->
        <div class="item">
          <div class="product-card shadow-sm product-card--featured">
            <div class="product-card-content">
              <div class="product-card-icon">
                <img src="{% static 'imgs/specialization_icons/Asset-7.svg' %}" alt="المنشآت الصغيرة والمتوسطة" width="56" height="56">
              </div>
              <h5 class="product-card-title custom-title3">المنتجات الاستشارية للمنشآت الصغيرة والمتوسطة</h5>
              <p class="product-card-desc custom-txt3">رؤية واضحة.. نوجه ذكي للنمو</p>
            </div>
            <button class="btn product-card-btn" data-bs-toggle="modal" data-bs-target="#productModal7">عرض التفاصيل</button>
          </div>
        </div>

      </div>
      <!-- /Owl Carousel -->

    </div>
  </section>

  <!-- ===== Per-Product Modals ===== -->

  <!-- Modal 1: حوكمة الشركات -->
  <div class="modal fade" id="productModal1" tabindex="-1" aria-labelledby="productModal1Label" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable">
      <div class="modal-content products-modal-content">
        <div class="modal-header">
          <div class="d-flex align-items-center gap-3">
            <div class="products-modal-icon flex-shrink-0">
              <img src="{% static 'imgs/specialization_icons/Asset-1.svg' %}" alt="" width="36" height="36">
            </div>
            <h5 class="modal-title color-primary fw-bold custom-title3 mb-0" id="productModal1Label">حوكمة الشركات</h5>
          </div>
          <button type="button" class="btn-close ms-0 me-auto" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <p class="custom-txt3 mb-4" style="color: var(--color-text);">
            في ظل بيئة الأعمال المعقدة والديناميكية اليوم، تُعد الحوكمة الفعّالة أساس النجاح الأمد. في بيت الخبراء الموحد، نقدم خدمات استشارية متخصصة في الحوكمة في الاختيارات الفريدة للعلاقات الفائلات والشركات.
          </p>
          <p class="custom-txt3 fw-bold color-primary mb-2">يحرص خبراؤنا على تكوين أُطر الحوكمة المعتمدة عالمياً، مع فهم فعلية، ومتابعتها ومواكبتها مع أنظمة الحوكمة الاستراتيجية. مما يُمكّنكم من مواجهة التحديات وتحسين الأداء وتحقيق النمو المستدام.</p>
          <h6 class="fw-bold color-primary mt-4 mb-3">تشمل خدماتنا:</h6>
          <ul class="modal-services-list">
            <li><span class="modal-list-dot"></span>الاستعداد للطرح العام الأولي IPO<br><small>تجهيز شركتكم لطرح عام من خلال إنشاء هياكل حوكمة قوية، السياسات المالية، الشفافية والأمتثال.</small></li>
            <li><span class="modal-list-dot"></span>إطار الحوكمة<br><small>تطوير سياسات وإجراءات تتماشى مع المنظمات الدولية وفصل الممارسات المالية.</small></li>
            <li><span class="modal-list-dot"></span>تقييم مجلس الإدارة والتنفيذي الفصلي<br><small>إعداد تقييمات شاملة وخطط لتحسين لتشكيل أداء مجلس الإدارة وإدارتها وفاعلية القيادة الاستراتيجية.</small></li>
            <li><span class="modal-list-dot"></span>تطوير تأهيل مجلس الإدارة والتوجيه<br><small>لصناعة مجالس إدارة ورش تدريبية وتطوير كفاءات وزيادة مهارات الأداء في أدوار الحوكمة.</small></li>
          </ul>
        </div>
        <div class="modal-footer border-0 justify-content-center">
          <a href="{% url 'consultation_request' %}" class="btn circle-btn button-primary">طلب استشارة</a>
          <button type="button" class="btn circle-btn button-light" data-bs-dismiss="modal">إغلاق</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal 2: حوكمة العائلة -->
  <div class="modal fade" id="productModal2" tabindex="-1" aria-labelledby="productModal2Label" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable">
      <div class="modal-content products-modal-content">
        <div class="modal-header">
          <div class="d-flex align-items-center gap-3">
            <div class="products-modal-icon flex-shrink-0">
              <img src="{% static 'imgs/specialization_icons/Asset-2.svg' %}" alt="" width="36" height="36">
            </div>
            <h5 class="modal-title color-primary fw-bold custom-title3 mb-0" id="productModal2Label">حوكمة العائلة (الثروة الخاصة)</h5>
          </div>
          <button type="button" class="btn-close ms-0 me-auto" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <p class="custom-txt3 mb-3" style="color: var(--color-text);">
            برنامج استشاري استراتيجي متخصص في الشركات العائلية، يهدف إلى تعزيز الاستدامة في الشركات العائلية عبر تصميم وتنفيذ إطار الحوكمة العائلية متكامل.
          </p>
          <p class="custom-txt3 mb-4" style="color: var(--color-text);">
            نعمل مع العائلات على بناء مواثيق عائلية، وتأسيس وتنظيم مجالس العائلة، وتطبيق الحوكمة الاستراتيجية. وتعزيز كل ذلك بتنظيم مناهج قوية، ومن خلال توفير الأدوات الفعّالة لإدارة الاستراتيجيات والاتفاق على العمل.
          </p>
          <p class="custom-txt3 fw-bold color-primary mb-3">هذه الخدمة تجمع بين الحوكمة الفاعلية، علم النفس الأسري والاستراتيجيات والاستشارات المالية للعائلات وتصوّن في الأدوار، المساعدة والاتفاق والأمين في النمو والاستمرارية في القيادة.</p>
          <h6 class="fw-bold color-primary mt-4 mb-3">تشمل خدماتنا:</h6>
          <ul class="modal-services-list">
            <li><span class="modal-list-dot"></span>ميثاق العائلة<br><small>تحديد الأدوار، التوقعات وإطار التواصل لضمان الفائلة القيادة وإدارة الثروات بما يخدم الجيل.</small></li>
            <li><span class="modal-list-dot"></span>إطار الحوكمة العائلية:<br><small>مجلس الملكية والثروة: تقديم الجمعية العائلية: تعزيز الهوية والرواثق والشفافية المالية.</small></li>
            <li><span class="modal-list-dot"></span>خطة تعاقب قيادي<br><small>لضمان الأفراد المؤهلين الأمناء للقيادات المؤسسية سلاسة.</small></li>
            <li><span class="modal-list-dot"></span>ورش عمل تفاعلية<br><small>مع المؤسسين، الأبناء، والأحفاد لتعزيز التوافق والاتصال.</small></li>
            <li><span class="modal-list-dot"></span>خطة تنمية كاملة<br><small>وإشراف استشاري متكامل وشامل وتدريب مستمر.</small></li>
          </ul>
        </div>
        <div class="modal-footer border-0 justify-content-center">
          <a href="{% url 'consultation_request' %}" class="btn circle-btn button-primary">طلب استشارة</a>
          <button type="button" class="btn circle-btn button-light" data-bs-dismiss="modal">إغلاق</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal 3: تقييم مجلس الإدارة -->
  <div class="modal fade" id="productModal3" tabindex="-1" aria-labelledby="productModal3Label" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable">
      <div class="modal-content products-modal-content">
        <div class="modal-header">
          <div class="d-flex align-items-center gap-3">
            <div class="products-modal-icon flex-shrink-0">
              <img src="{% static 'imgs/specialization_icons/Asset-3.svg' %}" alt="" width="36" height="36">
            </div>
            <h5 class="modal-title color-primary fw-bold custom-title3 mb-0" id="productModal3Label">تقييم مجلس الإدارة</h5>
          </div>
          <button type="button" class="btn-close ms-0 me-auto" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <p class="custom-txt3 mb-3" style="color: var(--color-text);">
            تقييم مجلس الإدارة هو خدمة استشارية متقدمة تهدف إلى تحسين فعالية وأداء مجلس الإدارة من خلال تقييم شامل ومتخصص لأداء المجلس وتحديد فرص التحسين الجماعي والفردي لأعضاء المجلس.
          </p>
          <p class="custom-txt3 mb-4" style="color: var(--color-text);">
            نُقدم هذه الخدمة وفق منهجية متوافقة مع المعايير العالمية ونظم الحوكمة السعودية مثل هيئة السوق المالية (CMA) والبنك المركزي (SAMA). مما يُساعد المؤسسات على تعزيز الشفافية والمساءلة التنظيمية وصواياً.
          </p>
          <h6 class="fw-bold color-primary mt-4 mb-3">تشمل خدماتنا:</h6>
          <ul class="modal-services-list">
            <li><span class="modal-list-dot"></span>التوافق مع متطلبات هيئة السوق المالية (CMA) والبنك المركزي (SAMA)</li>
            <li><span class="modal-list-dot"></span>تعزيز ثقة المساهمين وأصحاب العلاقة</li>
            <li><span class="modal-list-dot"></span>رفع كفاءة اتخاذ القرار داخل المجلس</li>
            <li><span class="modal-list-dot"></span>تحديد الفجوة والقرارات لتحسين أداء المجلس</li>
            <li><span class="modal-list-dot"></span>دعم خطط النمو والقرارات في السياق المالية أو التوسع المؤسسي</li>
            <li><span class="modal-list-dot"></span>تطوير الهيكلة والحوكمة وتعزيز الاستمرار النمو والاستمرار المؤسسي</li>
            <li><span class="modal-list-dot"></span>خطة تقييم شامل لأداء المجلس لتحسين أعضاء المجلس فرداً وجماعياً</li>
            <li><span class="modal-list-dot"></span>عرض تقديمي مخصص أمام أعضاء المجلس لمناقشة النتائج</li>
          </ul>
        </div>
        <div class="modal-footer border-0 justify-content-center">
          <a href="{% url 'consultation_request' %}" class="btn circle-btn button-primary">طلب استشارة</a>
          <button type="button" class="btn circle-btn button-light" data-bs-dismiss="modal">إغلاق</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal 4: إستراتيجية رأس المال البشري -->
  <div class="modal fade" id="productModal4" tabindex="-1" aria-labelledby="productModal4Label" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable">
      <div class="modal-content products-modal-content">
        <div class="modal-header">
          <div class="d-flex align-items-center gap-3">
            <div class="products-modal-icon flex-shrink-0">
              <img src="{% static 'imgs/specialization_icons/Asset-4.svg' %}" alt="" width="36" height="36">
            </div>
            <h5 class="modal-title color-primary fw-bold custom-title3 mb-0" id="productModal4Label">إستراتيجية رأس المال البشري</h5>
          </div>
          <button type="button" class="btn-close ms-0 me-auto" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <p class="custom-txt3 mb-3" style="color: var(--color-text);">
            الموهبة المناسبة في المكان الفارق. نساعدك على إيجاد الموارد البشرية التي تناسب احتياجات شركتك وتدعم نموك بكفاءة.
          </p>
          <p class="custom-txt3 mb-4" style="color: var(--color-text);">
            نُحدث استراتيجية رأس المال البشري بصورة هيكل شاملة تغطي إدارة الموارد البشرية عبر مراحل الاستقطاب والتوظيف وتطوير المهارات والكفاءات، وإدارة الأداء والتعويضات والمزايا، وبناء ثقافة الشركة، وتحقيق التكامل المؤسسي والمؤسسي الاستدامة والتنافسية.
          </p>
          <h6 class="fw-bold color-primary mt-4 mb-3">تشمل خدماتنا:</h6>
          <ul class="modal-services-list">
            <li><span class="modal-list-dot"></span>تحديد الاحتياجات وتحليل الوظائف</li>
            <li><span class="modal-list-dot"></span>البحث والترشيح عبر قنوات متعددة</li>
            <li><span class="modal-list-dot"></span>إدارة المقابلات والتقييم والاختيار</li>
            <li><span class="modal-list-dot"></span>الدعم في صياغة عروض العمل والتعاقد</li>
          </ul>
          <h6 class="fw-bold color-primary mt-4 mb-2">الهـــدف:</h6>
          <p class="custom-txt3" style="color: var(--color-text);">تزويدك بفريق قوي يُسهم في تحقيق أهدافك بسرعة وفاعلية.</p>
        </div>
        <div class="modal-footer border-0 justify-content-center">
          <a href="{% url 'consultation_request' %}" class="btn circle-btn button-primary">طلب استشارة</a>
          <button type="button" class="btn circle-btn button-light" data-bs-dismiss="modal">إغلاق</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal 5: المدير المالي الخارجي -->
  <div class="modal fade" id="productModal5" tabindex="-1" aria-labelledby="productModal5Label" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable">
      <div class="modal-content products-modal-content">
        <div class="modal-header">
          <div class="d-flex align-items-center gap-3">
            <div class="products-modal-icon flex-shrink-0">
              <img src="{% static 'imgs/specialization_icons/Asset-5.svg' %}" alt="" width="36" height="36">
            </div>
            <h5 class="modal-title color-primary fw-bold custom-title3 mb-0" id="productModal5Label">المدير المالي الخارجي</h5>
          </div>
          <button type="button" class="btn-close ms-0 me-auto" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <p class="custom-txt3 mb-3" style="color: var(--color-text);">
            خدمة مالية متخصصة تساعدك على ضبط الأداء المالي لمنشأتك وتحقيق الاستدامة المالية والنمو.
          </p>
          <p class="custom-txt3 mb-4" style="color: var(--color-text);">
            المدير المالي الخارجي ليس مجرد مستشار مالي — إنه شريكك الاستراتيجي الذي يعمل معك بشكل وثيق لتحقيق أهداف شركتك. نقدم لك خبرة مدير مالي متكاملة دون الحاجة إلى توظيف دوام كامل. من خلال رؤية عميقة وتحليل دقيق للوضع المالي والفرص والمخاطر، نساعدك على اتخاذ قرارات مالية استراتيجية فعّالة.
          </p>
          <h6 class="fw-bold color-primary mt-4 mb-3">تشمل خدماتنا:</h6>
          <ul class="modal-services-list">
            <li><span class="modal-list-dot"></span>ضبط السياسات والرقابة المالية</li>
            <li><span class="modal-list-dot"></span>إدارة التدفقات النقدية والسيولة</li>
            <li><span class="modal-list-dot"></span>تصميم التقارير المالية اللازمة لدعم القرار</li>
            <li><span class="modal-list-dot"></span>مراقبة التكاليف وتحسين الأصول الربحية</li>
            <li><span class="modal-list-dot"></span>دعم التوسع والتمويل والامتثال</li>
          </ul>
        </div>
        <div class="modal-footer border-0 justify-content-center">
          <a href="{% url 'consultation_request' %}" class="btn circle-btn button-primary">طلب استشارة</a>
          <button type="button" class="btn circle-btn button-light" data-bs-dismiss="modal">إغلاق</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal 6: دراسات الأعمال -->
  <div class="modal fade" id="productModal6" tabindex="-1" aria-labelledby="productModal6Label" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable">
      <div class="modal-content products-modal-content">
        <div class="modal-header">
          <div class="d-flex align-items-center gap-3">
            <div class="products-modal-icon flex-shrink-0">
              <img src="{% static 'imgs/specialization_icons/Asset-6.svg' %}" alt="" width="36" height="36">
            </div>
            <h5 class="modal-title color-primary fw-bold custom-title3 mb-0" id="productModal6Label">دراسات الأعمال</h5>
          </div>
          <button type="button" class="btn-close ms-0 me-auto" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <p class="custom-txt3 mb-3" style="color: var(--color-text);">
            دراسات تحليلية احترافية لدعم قرارات الاستثمار والتوسع، مبنية على أرقام واقعية ومنهجيات متعددة.
          </p>
          <p class="custom-txt3 mb-4" style="color: var(--color-text);">
            دراسات الأعمال تعمل على تزويدك بالصورة الكاملة قبل الإقدام على أي قرار تجاري أو استثماري، من خلال تحليل السوق والجدوى الاقتصادية، وتحويل البيانات إلى توصيات عملية، لدعم استثماراتك وتوسّعك على أسس واضحة ومدروسة.
          </p>
          <h6 class="fw-bold color-primary mt-4 mb-3">تشمل خدماتنا:</h6>
          <ul class="modal-services-list">
            <li><span class="modal-list-dot"></span>ضبط السياسات والرقابة المالية</li>
            <li><span class="modal-list-dot"></span>إدارة التدفقات النقدية والسيولة</li>
            <li><span class="modal-list-dot"></span>تصميم التقارير المالية اللازمة لدعم القرار</li>
            <li><span class="modal-list-dot"></span>مراقبة التكاليف وتحسين الأصول الربحية</li>
            <li><span class="modal-list-dot"></span>دعم التوسع والتمويل والامتثال</li>
          </ul>
          <p class="custom-txt3 mt-3" style="color: var(--color-text);">دراسات الأعمال هي الوصلة التي تُوجّه قراراتك الاستثمارية من الفكرة إلى النجاح بثقة ووضوح.</p>
        </div>
        <div class="modal-footer border-0 justify-content-center">
          <a href="{% url 'consultation_request' %}" class="btn circle-btn button-primary">طلب استشارة</a>
          <button type="button" class="btn circle-btn button-light" data-bs-dismiss="modal">إغلاق</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal 7: المنشآت الصغيرة والمتوسطة -->
  <div class="modal fade" id="productModal7" tabindex="-1" aria-labelledby="productModal7Label" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable">
      <div class="modal-content products-modal-content">
        <div class="modal-header">
          <div class="d-flex align-items-center gap-3">
            <div class="products-modal-icon flex-shrink-0">
              <img src="{% static 'imgs/specialization_icons/Asset-7.svg' %}" alt="" width="36" height="36">
            </div>
            <h5 class="modal-title color-primary fw-bold custom-title3 mb-0" id="productModal7Label">المنتجات الاستشارية للمنشآت الصغيرة والمتوسطة</h5>
          </div>
          <button type="button" class="btn-close ms-0 me-auto" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="row g-3 mb-4">
            <div class="col-12 col-md-6">
              <div class="modal-info-box">
                نقدّم حلولاً استشارية متكاملة تبدأ من بناء الهوية المؤسسية وصناعة المحتوى، مروراً باستقطاب المواهب وتفعيل الحضور الرقمي، وصولاً إلى تقييم الحوكمة وأداء مجالس الإدارة وفق أفضل الممارسات.
              </div>
            </div>
            <div class="col-12 col-md-6">
              <div class="modal-info-box">
                نساعد المنشآت على فهم واقعها الحالي، تحديد فجواتها، ووضع خطط تطوير عملية قابلة للتنفيذ والقياس، بما يدعم اتخاذ القرار ويعزز الاستدامة والنمو بثقة.
              </div>
            </div>
          </div>
          <h6 class="fw-bold color-primary mb-3">تشمل خدماتنا:</h6>
          <ul class="modal-services-list">
            <li>
              <span class="modal-list-dot"></span>
              <div><strong>كتابة المحتوى:</strong><br><small>محتوى احترافي يعكس هوية منشأتك ويضع انطباعاً أولياً مؤثراً.</small></div>
            </li>
            <li>
              <span class="modal-list-dot"></span>
              <div><strong>استقطاب المواهب:</strong><br><small>اختيار الكفاءات المناسبة لبناء فريق يدعم النمو ويحقق الأهداف.</small></div>
            </li>
            <li>
              <span class="modal-list-dot"></span>
              <div><strong>تقييم وتفعيل منصات التواصل الاجتماعي:</strong><br><small>تحويل حضورك الرقمي إلى تأثير فعلي يعزز علامتك التجارية.</small></div>
            </li>
            <li>
              <span class="modal-list-dot"></span>
              <div><strong>تقييم مجلس الإدارة:</strong><br><small>قياس أداء المجلس وفق أفضل ممارسات الحوكمة لتعزيز فعالية القرار.</small></div>
            </li>
            <li>
              <span class="modal-list-dot"></span>
              <div><strong>البوصلة المؤسسية:</strong><br><small>رؤية واضحة وخطة تطوير عملية تقود منشأتك نحو نمو مستدام.</small></div>
            </li>
          </ul>
        </div>
        <div class="modal-footer border-0 justify-content-center">
          <a href="{% url 'consultation_request' %}" class="btn circle-btn button-primary">طلب استشارة</a>
          <button type="button" class="btn circle-btn button-light" data-bs-dismiss="modal">إغلاق</button>
        </div>
      </div>
    </div>
  </div>

  <!-- /Per-Product Modals -->

  <!-- <section class="works">
    <div class="container">
      <h3 class="fs-bold h3 mb-0 text-uppercase text-center text-white custom-title" data-aos="fade-down">التخصصات</h3>
      <div class="row row-cols-2 row-cols-sm-2 row-cols-lg-4 justify-content-between mt-4">
        <figure class="work-special text-center col" data-aos="zoom-in"><img class="img-fluid"
            src="{% static 'imgs/specialization_icons/Asset-1.svg' %}" alt="asset" width="85" height="85">
          <figcaption class="lh-base fs-5 text-white custom-txt2">حوكمة مجالس الإدارة</figcaption>
        </figure>
        <figure class="work-special text-center col" data-aos="zoom-in"><img class="img-fluid"
            src="{% static 'imgs/specialization_icons/Asset-2.svg' %}" alt="asset" width="85" height="85">
          <figcaption class="lh-base fs-5 text-white custom-txt2">حوكمة الشركات الخاصة والعائلية</figcaption>
        </figure>
        <figure class="work-special text-center col" data-aos="zoom-in"><img class="img-fluid"
            src=" {% static 'imgs/specialization_icons/Asset-3.svg' %} " alt="asset" width="85" height="85">
          <figcaption class="lh-base fs-5 text-white custom-txt2">تطوير الأعمال والإستراتيجية</figcaption>
        </figure>
        <figure class="work-special text-center col" data-aos="zoom-in"><img class="img-fluid"
            src=" {% static 'imgs/specialization_icons/Asset-4.svg' %} " alt="asset" width="85" height="85">
          <figcaption class="lh-base fs-5 text-white custom-txt2">إستراتيجيات رأس المال البشري</figcaption>
        </figure>
        <figure class="work-special text-center col" data-aos="zoom-in"><img class="img-fluid"
            src=" {% static 'imgs/specialization_icons/Asset-5.svg' %} " alt="asset" width="85" height="85">
          <figcaption class="lh-base fs-5 text-white custom-txt2">إستقطاب وبناء الكفاءات البشرية</figcaption>
        </figure>
        <figure class="work-special text-center col" data-aos="zoom-in"><img class="img-fluid"
            src=" {% static 'imgs/specialization_icons/Asset-6.svg' %} " alt="asset" width="85" height="85">
          <figcaption class="lh-base fs-5 text-white custom-txt2">⁠الإستشارات القانونية</figcaption>
        </figure>
        <figure class="work-special text-center col" data-aos="zoom-in"><img class="img-fluid"
            src=" {% static 'imgs/specialization_icons/Asset-7.svg' %} " alt="asset" width="85" height="85">
          <figcaption class="lh-base fs-5 text-white custom-txt2">الأبحاث وإستراتيجيات التسويق</figcaption>
        </figure>
        <figure class="work-special text-center col" data-aos="zoom-in"><img class="img-fluid"
            src=" {% static 'imgs/specialization_icons/Asset-8.svg' %} " alt="asset" width="85" height="85">
          <figcaption class="lh-base fs-5 text-white custom-txt2">التمويل والصكوك الإسلامية</figcaption>
        </figure>
      </div>
      <div class="exp-btn text-center pt-4"><a class="works-btn btn circle-btn button-light"
          href="{% url 'services' %}">مشاهدة المزيد</a></div>
    </div>
  </section> -->

  <section class="how-work">
    <div class="container">
      <div class="d-flex align-items-center justify-content-center pb-4" data-aos="fade-down"><img class="d-none"
          src="{% static 'imgs/icons/arrow-left-line.svg' %}" alt="arrow icon" />
        <h3 class="h3 mb-0 color-primary text-uppercase custom-title">آلية العمل</h3>
      </div>
      <p class="service-txt m-0 w-75 mx-auto text-center pt-0 custom-txt custom-width"><span>سوف نستضيفك لنتعرف على بعضنا بشكل افضل و لنسمع
          منك ما يدور في رأسك من طموحات و بناءا عليه سنقول لك ما نفكر فيه لنحقق هذه الطموحات وما هي افضل
          الممارسات.</span></p>
      <ul class="timeline">
        <li class="timeline" data-aos="fade-right">
          <div class="icon shadow d-flex justify-content-center align-items-center color-primary icon-1"></div>
          <details class="panel">
            <summary class="custom-txt2">آلية تنفيذ الفكرة</summary>
          </details>
        </li>
        <li class="timeline" data-aos="fade-left">
          <div class="icon shadow d-flex justify-content-center align-items-center color-primary icon-2"></div>
          <details class="panel">
            <summary class="custom-txt2">الخبير أو الفريق المناسب لهذه المهمة</summary>
          </details>
        </li>
        <li class="timeline" data-aos="fade-right">
          <div class="icon shadow d-flex justify-content-center align-items-center color-primary icon-3"></div>
          <details class="panel">
            <summary class="custom-txt2">ماهي الخبرات التي تناسب مشروعك</summary>
          </details>
        </li>
        <li class="timeline" data-aos="fade-left">
          <div class="icon shadow d-flex justify-content-center align-items-center color-primary icon-4"></div>
          <details class="panel">
            <summary class="custom-txt2">مدة التنفيذ و التكلفة</summary>
          </details>
        </li>
        <li class="timeline" data-aos="fade-right">
          <div class="icon shadow d-flex justify-content-center align-items-center color-primary icon-5"></div>
          <details class="panel">
            <summary class="custom-txt2">ثم نطلب تحديد موعد ليشرح لك الخبير ما سيقوم به بشكل مفصل</summary>
          </details>
        </li>
      </ul>
    </div>
  </section>
  <section class="consultant-steps">
    <div class="d-flex align-items-center justify-content-center pb-4" data-aos="fade-down">
      <h3 class="h3 mb-0 color-primary text-uppercase custom-title">مراحل الإستشارة</h3>
    </div>
    <ul>
      <li data-aos="fade-right">
        <h4 class="step-title circle-1">التقييم والتشخيص</h4>
        <p class="desc text-center">جمع وتحليل البيانات لفهم التحديات والاحتياجات</p>
      </li>
      <li data-aos="fade-left">
        <h4 class="step-title circle-2">تحديد نطاق العمل</h4>
        <p class="desc text-center">توضيح الاهداف والانشطة والفترة الزمنية</p>
      </li>
      <li data-aos="fade-right">
        <h4 class="step-title circle-3">التخطيط والتنفيذ</h4>
        <p class="desc text-center">وضع استراتيجية واضحة وتنفيذ الحلول مع متابعة الدعم</p>
      </li>
      <li data-aos="fade-left">
        <h4 class="step-title circle-4">التقييم والتوصيات الختامية</h4>
        <p class="desc text-center">قياس النتائح مقابل الاهداف وتقديم توصيات مستدامة</p>
      </li>
    </ul>
  </section>
  <section class="our-clients">
    <div class="container">
      <div class="d-flex align-items-center justify-content-center pb-4" data-aos="fade-down"><img class="d-none"
          src=" {% static 'imgs/icons/arrow-left-line.svg' %} " alt="arrow icon" />
        <h3 class="h3 mb-0 color-primary text-uppercase custom-title">ابرز عملاءنا</h3>
      </div>
      <div class="slider-wrapper">
        <div class="clients-slider owl-carousel owl-theme">
          <figure class="slider-figure text-center item client-fig shadow d-flex flex-column align-items-center"><img
              class="img-fluid client-logo" src="{% static 'imgs/logos/client1.svg' %}" alt="client">
            <figcaption class="fs-5 fw-bold color-primary custom-txt2">شركة رقمنة الحلول للوساطة الرقمية</figcaption>
          </figure>
          <figure class="slider-figure text-center item client-fig shadow d-flex flex-column align-items-center"><img
              class="img-fluid client-logo" src="{% static 'imgs/logos/client2.png' %}" alt="client">
            <figcaption class="fs-5 fw-bold color-primary custom-txt2">بناء الاعمال الوطنية</figcaption>
          </figure>
          <figure class="slider-figure text-center item client-fig shadow d-flex flex-column align-items-center"><img
              class="img-fluid client-logo" src="{% static 'imgs/logos/client3.png' %}" alt="client">
            <figcaption class="fs-5 fw-bold color-primary custom-txt2">إمكان العربية</figcaption>
          </figure>
          <figure class="slider-figure text-center item client-fig shadow d-flex flex-column align-items-center"><img
              class="img-fluid client-logo" src="{% static 'imgs/logos/client4.png' %}" alt="client">
            <figcaption class="fs-5 fw-bold color-primary custom-txt2">إمداد الغذائية</figcaption>
          </figure>
          <figure class="slider-figure text-center item client-fig shadow d-flex flex-column align-items-center"><img
              class="img-fluid client-logo" src="{% static 'imgs/logos/client5.png' %}" alt="client">
            <figcaption class="fs-5 fw-bold color-primary custom-txt2">مدرسة الاوراق الخضراء</figcaption>
          </figure>
          <figure class="slider-figure text-center item client-fig shadow d-flex flex-column align-items-center"><img class="img-fluid client-logo" src="{% static 'imgs/logos/client6.png' %}" alt="client">
            <figcaption class="fs-5 fw-bold color-primary custom-txt2">شركة أوج القابضة</figcaption>
          </figure>
          <figure class="slider-figure text-center item client-fig shadow d-flex flex-column align-items-center"><img class="img-fluid client-logo" src="{% static 'imgs/logos/client7.png' %}"  alt="client">
            <figcaption class="fs-5 fw-bold color-primary custom-txt2">البلد الأمين</figcaption>
          </figure>
          <figure class="slider-figure text-center item client-fig shadow d-flex flex-column align-items-center"><img class="img-fluid client-logo" src="{% static 'imgs/logos/client8.png' %}" alt="client">
            <figcaption class="fs-5 fw-bold color-primary custom-txt2">شيزان</figcaption>
          </figure>
        </div>
      </div>
  </section>
  <section class="features">
    <div class="container">
      <h3 class="h3 mb-0 text-white text-uppercase mb-4 custom-title" data-aos="fade-down">بماذا نتميز ...؟</h3>
      <div class="carousel slide" id="features-carousel" data-bs-ride="carousel">
        <div class="carousel-indicators">
          <button class="active" type="button" data-bs-target="#features-carousel" data-bs-slide-to="0"
            aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#features-carousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
        </div>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <p class="fs-5 w-75 text-center text-white mx-auto lh-lg feature-text custom-txt">إن الإنفراد الذي أضفناه في بيت
              الخبراء الموحد هي خدمة الإشراف الإستشاري لقد وضعنا أنفسنا في صفّك, و تابعنا العمل من مكانك لنتأكد من
              جودة الدراسات المقدمة لك, نناقشها نيابة عنك و نراجعها و نتأكد من دقتها و ماذا ينقصها لتكن واقعية و هل
              يمكن تطبيقها فعلاً.</p>
          </div>
          <div class="carousel-item">
            <p class="fs-5 w-75 text-center text-white mx-auto lh-lg feature-text custom-txt">إن التقارير الجميلة و البيانات
              الطموحة تحتاج لمن يقرأها بعين الخبير و يتأكد فاعليتها. ولذلك خبرائنا يضعون حجر الأساس بعلمهم, يوثّقون
              القواعد و الأركان بمعرفتهم و يراقبون البناء بخبراتهم. حتى يكن لدينا صرحاً من المعلومات يحمي أهدافنا.</p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="contact">
    <div class="container">
      <div class="d-flex align-items-center justify-content-center pb-4" data-aos="fade-down"><img class="d-none"
        src="{% static './imgs/icons/arrow-left-line.svg' %}" alt="arrow icon" />
        <h3 class="h3 mb-0 color-primary text-uppercase custom-title">نحن معك دائماً</h3>
      </div>
      <div class="contact-form mt-4 shadow">
        <div class="row row-cols-1 row-cols-lg-2 justify-content-between" data-aos="zoom-out">
          <div class="img-wrapper d-none d-lg-block"></div>
          <div class="form-wrapper">
            <div class="content py-4">
              <h3 class="text-center colot-primary custom-title2">طلب إستشارة</h3>
              <p class="text-center colot-primary lh-base custom-txt"><span>شكراً على اهتمامك بـ<span class=fw-bold>"بيت الخبراء
                    الموحد"!</span> تواصل معنا وشاركنا أسئلتك وإقتراحاتك وأفكارك، فتواصلك يسرّنا دوماً</span></p>
            </div>
            <form class="form row g-3" method="post" action="{% url 'home_consultation_form' %}">
              {% csrf_token %}
              <div class="col-12 col-lg-6">
                <input name="first_name" required class="form-control custom-txt2" type="text" placeholder="الاسم الاول" aria-label="First name">
              </div>
              <div class="col-12 col-lg-6">
                <input name="last_name" required class="form-control custom-txt2" type="text" placeholder="الاسم الاخير" aria-label="Last name">
              </div>
              <div class="col-12">
                <input name="email" required class="form-control custom-txt2" type="email" placeholder="البريد الااكتروني">
              </div>
              <div class="col-12">
                <input name="phone" class="form-control custom-txt2" type="tel" name="phone" placeholder="رقم الهاتف"
                  required>
              </div>
              <div class="col-12">
                <textarea name="message" required class="form-control custom-txt2" rows="5" placeholder="تفاصيل الاستشارة"></textarea>
              </div>
              <button class="btn mx-auto button-primary w-50 mt-4 submit-btn" type="submit">إرسال</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>




{% endblock content %}

