{% extends "base.html" %}
{% load static %}



{% block content %}



  <header class="banner banner-home d-flex justify-content-center align-items-center">
    <div class="container">
      <div class="content d-flex flex-column text-white">
        <h2 class="content-title h1 fs-1 fw-semibold fw-lg-bold lh-base text-center w-50 mx-auto" data-aos="fade-down">
          بيت الخبراء يفتح أبوابه ويأخذ معك رحلة التغيير من البداية</h2>
      </div>
    </div>
  </header>
  <section class="intro d-flex justify-content-center align-items-center">
    <div class="container">
      <div class="d-flex flex-column justify-content-center align-items-center">
        <h2 class="color-primary fs-2 fw-semibold fw-lg-bold lh-base" data-aos="fade-down">لقد اجتمعنا في هذا البيت من
          كل مكان</h2>
        <p class="fs-4 fw-normal fw-lg-medium lh-base w-75 text-center" data-aos="fade-down">لنعطي من خبراتنا و
          معرفتنا كل من يريد معلومة أو يبحث عن متخصص في إحدى المجالات ولديه الخبرة من أرض الواقع في العديد من التخصصات
          المالية و الإدارية و الأنشطة التجارية المختلفة.</p>
        <div class="buttons-group d-flex align-items-start gap-3" data-aos="fade-right">
          <a href="{% url 'about' %}" class="btn circle-btn button-primary" type="button">من نحن</a>
          <a href="{% url 'consultation_request' %}" class="btn circle-btn button-light" type="button">تواصل معنا</a>
        </div>
      </div>
    </div>
  </section>
  <section class="slogan bg-gray2">
    <div class="container">
      <div class="d-flex align-items-center justify-content-center pb-4" data-aos="fade-down"><img class="d-none"
          src="{% static './imgs/icons/arrow-left-line.svg' %}" alt="arrow icon" />
        <h3 class="h3 mb-0 color-primary text-uppercase">بيت الخبراء الموحد</h3>
      </div>
      <div class="slogan-items g-3 justify-content-between d-flex flex-row flex-wrap">
        <figure class="slogan-figure text-center shadow row flex-column align-items-center" data-aos="fade-right"><img
            class="img-fluid slogan-img" src="{% static '/imgs/icons/deal.png' %}" alt="client">
          <figcaption class="fs-4 fw-bold color-primary">
            <h5>تعاون</h5>
            <h5>Cooperation</h5>
          </figcaption>
        </figure>
        <figure class="slogan-figure text-center shadow row flex-column align-items-center" data-aos="fade-up"><img
            class="img-fluid slogan-img" src="{% static '/imgs/icons/content-strategy.png' %}" alt="client">
          <figcaption class="fs-4 fw-bold color-primary">
            <h5>إستراتيجية</h5>
            <h5>Strategy</h5>
          </figcaption>
        </figure>
        <figure class="slogan-figure text-center shadow row flex-column align-items-center" data-aos="fade-down"><img
            class="img-fluid slogan-img" src="{% static '/imgs/icons/creativity.png' %}" alt="client">
          <figcaption class="fs-4 fw-bold color-primary">
            <h5>إبتكار</h5>
            <h5>Innovation</h5>
          </figcaption>
        </figure>
        <figure class="slogan-figure text-center shadow row flex-column align-items-center" data-aos="fade-left"><img
            class="img-fluid slogan-img" src="{% static '/imgs/icons/growth.png' %}" alt="client">
          <figcaption class="fs-4 fw-bold color-primary">
            <h5>نجاح</h5>
            <h5>Success</h5>
          </figcaption>
        </figure>
      </div>
    </div>
  </section>
  <section class="ceo">
    <div class="container">
      <div class="d-flex align-items-center justify-content-center pb-4" data-aos="fade-down"><img class="d-none"
        src="{% static './imgs/icons/arrow-left-line.svg' %}" alt="arrow icon" />
        <h3 class="h3 mb-0 color-primary text-uppercase">كلمة الرئيس التنفيذي</h3>
      </div>
      <div class="custom-row row justify-content-between">
        <div class="col-12 col-lg-8">
          <p class="ceo-word" data-aos="fade-right"><span>إن مبدأ الإستشارة في حياتنا هو نهج صحيح يجب أن نضعه من
              أولوياتنا<span class='color-primary'> لنضمن بمشيئة الله الإستقرار و الاستمرار و النجاح لأعمالنا و
                منشآتنا</span>. و لأن هذا المجال يكمن نجاحه في تحديد الأهداف بشكل صحيح فإن <span
                class='color-primary'>الوصول الى تحقيق هذه الأهداف يعتمد على اتباع خطوات صحيحة و واضحة</span> و مجربة
              و بالتالي نصنع منهجية سلسة و مرنة تؤدي بنا الى تحقيق المستهدفات. و بناءاً عليه قمنا بتشييد <span
                class='color-primary fw-bold'>”بيت الخبراء الموحد”</span> ليجتمع فيه خبراءنا مع رواد الأعمال و أصحاب
              المنشآت و نمكنهم من الوصول الى أهدافهم من خلال خبير متخصص في مجالهم من واقع خبرة عملية ناجحة</span></p>
        </div>
        <div class="col-12 col-lg-4"><a href="https://www.linkedin.com/in/rawad-zarea-"><img class="img-fluid img-ceo"
              src="{% static '/imgs/background/executive.png' %}" alt="CEO" data-aos="zoom-in-left"></a></div>
      </div>
    </div>
  </section>
  <section class="who">
    <div class="container">
      <div class="d-flex align-items-center justify-content-center pb-4" data-aos="fade-down"><img class="d-none"
        src="{% static './imgs/icons/arrow-left-line.svg' %}" alt="arrow icon" />
        <h3 class="h3 mb-0 color-primary text-uppercase">في بيتنا خبير</h3>
      </div>
      <div class="row row-cols-1 row-cols-lg-3 g-4 cards-p">
        <div class="col">
          <div class="card h-100 shadow border-0" data-aos="flip-left"><img class="card-img-top"
              src="{% static '/imgs/background/grid1.png' %}" alt="card image" height="269px">
            <div class="card-body text-center card-content">
              <h5 class="card-title color-primary fw-bold">التأسيس</h5>
              <p class="card-text lh-lg">من خلال خبراتنا كمؤسسين لبيت الخبراء أصبح لدينا الكثير من الأصدقاء و الزملاء
                و المعارف في جميع المجالات و بالتالي مهما كان مشروعك أو هدفك سنبحث لك في بيتنا ما يلبي احتياجاتك أو قد
                نستضيف لمشروعك خصيصا من يدعم طلبك و يلبي رغبتك.<span class="d-inline-block color-primary"></span></p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card h-100 shadow border-0" data-aos="flip-up"><img class="card-img-top"
              src="{% static '/imgs/background/grid2.png' %}" alt="card image" height="269px">
            <div class="card-body text-center card-content">
              <h5 class="card-title color-primary fw-bold">الأهداف</h5>
              <p class="card-text lh-lg">نحن نمنح خبراءنا الفرصة ليمارسوا شغفهم من خلال المشاركة بخبراتهم ونمنح
                عملاءنا الجودة و سرعة التنفيذ والنتيجة التي تحقق طموحاتهم و أهدافهم دون تعقيدات و مقدمات.<span
                  class="d-inline-block color-primary"></span></p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card h-100 shadow border-0" data-aos="flip-right"><img class="card-img-top"
              src="{% static '/imgs/background/grid3.png' %}" alt="card image" height="269px">
            <div class="card-body text-center card-content">
              <h5 class="card-title color-primary fw-bold">رؤيتنا</h5>
              <p class="card-text lh-lg">هي المساهمة في صناعة مؤسسات وطنية تعمل بمفهوم الاستدامة و الاستمرارية ,تساهم
                بشكل مباشر في دعم ركائز الإقتصاد الوطني, من خلال تطبيق معايير العمل المؤسسي و إعادة الهيكلة و وضع
                قواعد متينة و بنية تحتية صلبة وذلك بتطبيق مجموعة من الخدمات و البرامج التي تجعل المنشأة لديها بيئة عمل
                جيدة و احترافية و خطة إستراتيجية وهدف واحد و هو<span class="d-inline-block color-primary">&quot;الحوكمة
                  والاستدامة&quot;</span></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="exp bg-gray2 overflow-x-hidden">
    <div class="exp-body text-center">
      <h3 class="fs-bold h3 mb-0 color-primary text-uppercase">الخبرات</h3>
      <p class="txt" data-aos="zoom-in-up">لقد عمل خبراءنا في مجالات مختلفة و قطاعات ريادية و سنستعرض هنا جهات العمل
        التي إنضم اليها خبراءنا خلال مسيرتهم المهنية</p>
    </div>
    <div class="clients position-relative overflow-hidden w-100" id="scrollableElement">
      <div class="marquee d-flex justify-content-between"><img class="img-fluid client-img" id="marquee"
          src=" {% static 'imgs/exprience_logos/Asset-94.png' %} " alt="client logo"><img class="img-fluid client-img"
          id="marquee" src=" {% static 'imgs/exprience_logos/Asset-95.png' %} " alt="client logo"><img
          class="img-fluid client-img" id="marquee" src=" {% static 'imgs/exprience_logos/Asset-96.png' %} "
          alt="client logo"><img class="img-fluid client-img" id="marquee"
          src=" {% static 'imgs/exprience_logos/Asset-97.png' %} " alt="client logo"><img class="img-fluid client-img"
          id="marquee" src=" {% static 'imgs/exprience_logos/Asset-98.png' %} " alt="client logo"><img
          class="img-fluid client-img" id="marquee" src=" {% static 'imgs/exprience_logos/Asset-99.png' %} "
          alt="client logo"><img class="img-fluid client-img" id="marquee"
          src=" {% static 'imgs/exprience_logos/Asset-100.png' %} " alt="client logo"><img class="img-fluid client-img"
          id="marquee" src=" {% static 'imgs/exprience_logos/Asset-101.png' %} " alt="client logo"><img
          class="img-fluid client-img" id="marquee" src=" {% static 'imgs/exprience_logos/Asset-102.png' %} "
          alt="client logo">
      </div>
    </div>
    <div class="exp-btn text-center pt-4"><a class="exp-btn btn circle-btn button-primary"
        href="{% url 'experience' %}">مشاهدة المزيد</a>
    </div>
  </section>
  <section class="services">
    <div class="container">
      <div class="d-flex align-items-center justify-content-center pb-4" data-aos="fade-down"><img class="d-none"
        src="{% static './imgs/icons/arrow-left-line.svg' %}" alt="arrow icon" />
        <h3 class="h3 mb-0 color-primary text-uppercase">خدماتنا</h3>
      </div>
      <div class="row justify-content-between mt-4 service-wrapper">
        <div class="col-12 col-lg-4 text-center"><img class="img-fluid service-img"
            src="{% static 'imgs/background/service1-2.png' %}" alt="service 1" data-aos="zoom-out-up"></div>
        <div class="col-12 col-lg-8">
          <div class="content" data-aos="zoom-in-left">
            <h3 class="fs-bold h3 mb-0 color-primary text-uppercase">صناعة قصص النجاح</h3>
            <p class="service-txt m-0 w-100"><span>عندما تصادفك عقبة أو لديك فكرة و ربما تطمح لتطوير معين في قطاع ما
                أو على مستوى المنشأة فإن <span class='fw-bold'>بيت الخبراء</span> يفتح أبوابه لأي تطوير أو تغيير و
                يأخذ معك رحلة التغيير من البداية. إن كل عميل لبيت الخبراء الموحد هو ضيف يأخذ حقه بالكامل من الإنصات و
                المناقشة حتى تتكون الفكرة بالكامل.</span></p>
          </div>
        </div>
      </div>
      <div class="row flex-row-reverse justify-content-between mt-4">
        <div class="col-12 col-lg-4 text-center"><img class="img-fluid service-img"
            src="{% static 'imgs/background/service2-2.png' %}" alt="service 1" data-aos="zoom-out-down"></div>
        <div class="col-12 col-lg-8">
          <div class="content" data-aos="zoom-in-right">
            <h3 class="fs-bold h3 mb-0 color-primary text-uppercase">تحقيق الاستدامة</h3>
            <p class="service-txt m-0 w-100"><span>و لأن نكون بيت كل منشأة ترغب في إعادة ترتيب أوراقها و تتجه نحو عمل
                مُؤَسسي منظم من خلال تطبيق معايير الجودة و الحوكمة و التطوير الذي يتناسب مع التطلعات الوطنية و الدولية
                و التي تنقل المنشآت بمختلف تصنيفها سواءاً الناشئة أو المنشآت المتوسطة و الصغيرة لمستوى <span
                  class='fw-bold'>أكثر استقراراً و ثباتاً.</span></span></p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="works">
    <div class="container">
      <h3 class="fs-bold h3 mb-0 text-uppercase text-center text-white" data-aos="fade-down">التخصصات</h3>
      <div class="row row-cols-2 row-cols-sm-2 row-cols-lg-4 justify-content-between mt-4">
        <figure class="work-special text-center col" data-aos="zoom-in"><img class="img-fluid"
            src="{% static 'imgs/specialization_icons/Asset-1.svg' %}" alt="asset" width="85" height="85">
          <figcaption class="lh-base fs-5 text-white">حوكمة مجالس الإدارة</figcaption>
        </figure>
        <figure class="work-special text-center col" data-aos="zoom-in"><img class="img-fluid"
            src="{% static 'imgs/specialization_icons/Asset-2.svg' %}" alt="asset" width="85" height="85">
          <figcaption class="lh-base fs-5 text-white">حوكمة الشركات الخاصة والعائلية</figcaption>
        </figure>
        <figure class="work-special text-center col" data-aos="zoom-in"><img class="img-fluid"
            src=" {% static 'imgs/specialization_icons/Asset-3.svg' %} " alt="asset" width="85" height="85">
          <figcaption class="lh-base fs-5 text-white">تطوير الأعمال والإستراتيجية</figcaption>
        </figure>
        <figure class="work-special text-center col" data-aos="zoom-in"><img class="img-fluid"
            src=" {% static 'imgs/specialization_icons/Asset-4.svg' %} " alt="asset" width="85" height="85">
          <figcaption class="lh-base fs-5 text-white">إستراتيجيات رأس المال البشري</figcaption>
        </figure>
        <figure class="work-special text-center col" data-aos="zoom-in"><img class="img-fluid"
            src=" {% static 'imgs/specialization_icons/Asset-5.svg' %} " alt="asset" width="85" height="85">
          <figcaption class="lh-base fs-5 text-white">إستقطاب وبناء الكفاءات البشرية</figcaption>
        </figure>
        <figure class="work-special text-center col" data-aos="zoom-in"><img class="img-fluid"
            src=" {% static 'imgs/specialization_icons/Asset-6.svg' %} " alt="asset" width="85" height="85">
          <figcaption class="lh-base fs-5 text-white">⁠الإستشارات القانونية</figcaption>
        </figure>
        <figure class="work-special text-center col" data-aos="zoom-in"><img class="img-fluid"
            src=" {% static 'imgs/specialization_icons/Asset-7.svg' %} " alt="asset" width="85" height="85">
          <figcaption class="lh-base fs-5 text-white">الأبحاث وإستراتيجيات التسويق</figcaption>
        </figure>
        <figure class="work-special text-center col" data-aos="zoom-in"><img class="img-fluid"
            src=" {% static 'imgs/specialization_icons/Asset-8.svg' %} " alt="asset" width="85" height="85">
          <figcaption class="lh-base fs-5 text-white">التمويل والصكوك الإسلامية</figcaption>
        </figure>
      </div>
      <div class="exp-btn text-center pt-4"><a class="works-btn btn circle-btn button-light"
          href="{% url 'services' %}">مشاهدة المزيد</a></div>
    </div>
  </section>
  <section class="how-work">
    <div class="container">
      <div class="d-flex align-items-center justify-content-center pb-4" data-aos="fade-down"><img class="d-none"
          src="{% static 'imgs/icons/arrow-left-line.svg' %}" alt="arrow icon" />
        <h3 class="h3 mb-0 color-primary text-uppercase">آلية العمل</h3>
      </div>
      <p class="service-txt m-0 w-75 mx-auto text-center pt-0"><span>سوف نستضيفك لنتعرف على بعضنا بشكل افضل و لنسمع
          منك ما يدور في رأسك من طموحات و بناءا عليه سنقول لك ما نفكر فيه لنحقق هذه الطموحات وما هي افضل
          الممارسات.</span></p>
      <ul class="timeline">
        <li class="timeline" data-aos="fade-right">
          <div class="icon shadow d-flex justify-content-center align-items-center color-primary icon-1"></div>
          <details class="panel">
            <summary>آلية تنفيذ الفكرة</summary>
          </details>
        </li>
        <li class="timeline" data-aos="fade-left">
          <div class="icon shadow d-flex justify-content-center align-items-center color-primary icon-2"></div>
          <details class="panel">
            <summary>الخبير أو الفريق المناسب لهذه المهمة</summary>
          </details>
        </li>
        <li class="timeline" data-aos="fade-right">
          <div class="icon shadow d-flex justify-content-center align-items-center color-primary icon-3"></div>
          <details class="panel">
            <summary>ماهي الخبرات التي تناسب مشروعك</summary>
          </details>
        </li>
        <li class="timeline" data-aos="fade-left">
          <div class="icon shadow d-flex justify-content-center align-items-center color-primary icon-4"></div>
          <details class="panel">
            <summary>مدة التنفيذ و التكلفة</summary>
          </details>
        </li>
        <li class="timeline" data-aos="fade-right">
          <div class="icon shadow d-flex justify-content-center align-items-center color-primary icon-5"></div>
          <details class="panel">
            <summary>ثم نطلب تحديد موعد ليشرح لك الخبير ما سيقوم به بشكل مفصل</summary>
          </details>
        </li>
      </ul>
    </div>
  </section>
  <section class="our-clients">
    <div class="container">
      <div class="d-flex align-items-center justify-content-center pb-4" data-aos="fade-down"><img class="d-none"
          src=" {% static 'imgs/icons/arrow-left-line.svg' %} " alt="arrow icon" />
        <h3 class="h3 mb-0 color-primary text-uppercase">ابرز عملاءنا</h3>
      </div>
      <div class="slider-wrapper">
        <div class="clients-slider owl-carousel owl-theme">
          <figure class="slider-figure text-center item client-fig shadow d-flex flex-column align-items-center"><img
              class="img-fluid client-logo" src="{% static 'imgs/logos/client1.svg' %}" alt="client">
            <figcaption class="fs-5 fw-bold color-primary">شركة رقمنة الحلول للوساطة الرقمية</figcaption>
          </figure>
          <figure class="slider-figure text-center item client-fig shadow d-flex flex-column align-items-center"><img
              class="img-fluid client-logo" src="{% static 'imgs/logos/client2.png' %}" alt="client">
            <figcaption class="fs-5 fw-bold color-primary">بناء الاعمال الوطنية</figcaption>
          </figure>
          <figure class="slider-figure text-center item client-fig shadow d-flex flex-column align-items-center"><img
              class="img-fluid client-logo" src="{% static 'imgs/logos/client3.png' %}" alt="client">
            <figcaption class="fs-5 fw-bold color-primary">إمكان العربية</figcaption>
          </figure>
          <figure class="slider-figure text-center item client-fig shadow d-flex flex-column align-items-center"><img
              class="img-fluid client-logo" src="{% static 'imgs/logos/client4.png' %}" alt="client">
            <figcaption class="fs-5 fw-bold color-primary">إمداد الغذائية</figcaption>
          </figure>
          <figure class="slider-figure text-center item client-fig shadow d-flex flex-column align-items-center"><img
              class="img-fluid client-logo" src="{% static 'imgs/logos/client5.png' %}" alt="client">
            <figcaption class="fs-5 fw-bold color-primary">مدرسة الاوراق الخضراء</figcaption>
          </figure>
        </div>
      </div>
  </section>
  <section class="features">
    <div class="container">
      <h3 class="h3 mb-0 text-white text-uppercase mb-4" data-aos="fade-down">بماذا نتميز ...؟</h3>
      <div class="carousel slide" id="features-carousel" data-bs-ride="carousel">
        <div class="carousel-indicators">
          <button class="active" type="button" data-bs-target="#features-carousel" data-bs-slide-to="0"
            aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#features-carousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
        </div>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <p class="fs-5 w-75 text-center text-white mx-auto lh-lg feature-text">إن الإنفراد الذي أضفناه في بيت
              الخبراء الموحد هي خدمة الإشراف الإستشاري لقد وضعنا أنفسنا في صفّك, و تابعنا العمل من مكانك لنتأكد من
              جودة الدراسات المقدمة لك, نناقشها نيابة عنك و نراجعها و نتأكد من دقتها و ماذا ينقصها لتكن واقعية و هل
              يمكن تطبيقها فعلاً.</p>
          </div>
          <div class="carousel-item">
            <p class="fs-5 w-75 text-center text-white mx-auto lh-lg feature-text">إن التقارير الجميلة و البيانات
              الطموحة تحتاج لمن يقرأها بعين الخبير و يتأكد فاعليتها. ولذلك خبرائنا يضعون حجر الأساس بعلمهم, يوثّقون
              القواعد و الأركان بمعرفتهم و يراقبون البناء بخبراتهم. حتى يكن لدينا صرحاً من المعلومات يحمي أهدافنا.</p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="contact">
    <div class="container">
      <div class="d-flex align-items-center justify-content-center pb-4" data-aos="fade-down"><img class="d-none"
        src="{% static './imgs/icons/arrow-left-line.svg' %}" alt="arrow icon" />
        <h3 class="h3 mb-0 color-primary text-uppercase">نحن معك دائماً</h3>
      </div>
      <div class="contact-form mt-4 shadow">
        <div class="row row-cols-1 row-cols-lg-2 justify-content-between" data-aos="zoom-out">
          <div class="img-wrapper d-none d-lg-block"></div>
          <div class="form-wrapper">
            <div class="content py-4">
              <h3 class="text-center colot-primary">طلب إستشارة</h3>
              <p class="text-center colot-primary lh-base"><span>شكراً على اهتمامك بـ<span class=fw-bold>"بيت الخبراء
                    الموحد"!</span> تواصل معنا وشاركنا أسئلتك وإقتراحاتك وأفكارك، فتواصلك يسرّنا دوماً</span></p>
            </div>
            <form class="form row g-3" method="post" action="{% url 'home_consultation_form' %}">
              {% csrf_token %}
              <div class="col-12 col-lg-6">
                <input name="first_name" required class="form-control" type="text" placeholder="الاسم الاول" aria-label="First name">
              </div>
              <div class="col-12 col-lg-6">
                <input name="last_name" required class="form-control" type="text" placeholder="الاسم الاخير" aria-label="Last name">
              </div>
              <div class="col-12">
                <input name="email" required class="form-control" type="email" placeholder="البريد الااكتروني">
              </div>
              <div class="col-12">
                <input name="phone" class="form-control" type="tel" name="phone" placeholder="رقم الهاتف"
                  required>
              </div>
              <div class="col-12">
                <textarea name="message" required class="form-control" rows="5" placeholder="تفاصيل الاستشارة"></textarea>
              </div>
              <button class="btn mx-auto button-primary w-50 mt-4 submit-btn" type="submit">إرسال</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>




{% endblock content %}

