{% extends "base.html" %}

{% load static %}


{% block content %}
<header class="banner banner-join d-flex justify-content-center align-items-center"></header>
<main class="main-join">
  <section class="join" style="padding-top: 3rem; padding-bottom: 3rem">
    <div class="container">
      <div class="d-flex align-items-center justify-content-center pb-4" data-aos="fade-down"><img class="d-none"
          src="{% static 'imgs/icons/arrow-left-line.svg' %}" alt="arrow icon" />
        <h3 class="h3 mb-0 color-primary text-uppercase">إنضم كخبير</h3>
      </div>
      <div class="join-content-form mt-4">
        <form class="join-form row g-3" method="post" action="{% url 'join_as_expert_officer_form' %}">
          {% csrf_token %}
          <div class="col-lg-4">
            <label class="form-label" for="fullName">إسم الخبير بالكامل</label>
            <input name="name" required class="form-control" id="fullName" type="text">
          </div>
          <div class="col-lg-4">
            <label  class="form-label" for="email">البريد الالكتروني</label>
            <input name="email" required class="form-control" id="email" type="email">
          </div>
          <div class="col-lg-4">
            <label class="form-label" for="tel">رقم الهاتف</label>
            <input name="phone" required class="form-control" id="tel" type="tel">
          </div>
          <div class="col-lg-4">
            <label class="form-label" for="special">التخصص العام</label>
            <input name="general_specialization" required class="form-control" id="special" type="text">
          </div>
          <div class="col-lg-4">
            <label class="form-label" for="expYears">مجموع سنوات الخبرة العملية</label>
            <input name="sum_experience_years" required class="form-control" id="expYears" type="text">
          </div>
          <div class="col-lg-4">
            <label class="form-label" for="">هل ترغب بعرض اسمك و صورتك</label>
            <div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" id="yes" type="radio" name="display_name_type" value="YES">
                <label class="form-check-label" for="yes">نعم</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" id="no" type="radio" name="display_name_type" value="NO">
                <label class="form-check-label" for="no">لا</label>
              </div>
            </div>
          </div>
          <div class="col-lg-6">
            <label class="form-label" for="txtArea1">تخصص دقيق</label>
            <textarea name="details_specialization_info" required class="form-control" id="txtArea1" rows="5"></textarea>
          </div>
          <div class="col-lg-6">
            <label class="form-label" for="txtArea2">الجهات التي عملتم معها <span class='color-primary'>"ارجو اضافة
                الموقع الالكتروني لكل جهة"</span></label>
            <textarea name="work_experiense_comapnies" required class="form-control" id="txtArea2" rows="5"></textarea>
          </div>
          <div class="col-lg-6">
            <label class="form-label" for="txtArea3">الخدمات التي يمكن تقديمها و الإستشارات التي يمكن الدعم فيها بشكل
              مفصل <span class='color-primary'>"عربي- انكليزي"</span></label>
            <textarea name="services" required class="form-control" id="txtArea3" rows="5"></textarea>
          </div>
          <div class="col-lg-6">
            <label class="form-label" for="txtArea4">الجهات التي حصلتم منها على شهادة أكاديمية <span
                class='color-primary'>"ارجو اضافة الموقع الالكتروني لكل مؤسسة تعليمية"</span></label>
            <textarea name="study_qualifications" required class="form-control" id="txtArea4" rows="5"></textarea>
          </div>
          <div class="col-lg-6">
            <label class="form-label" for="txtArea5">الجهات التي لديكم فيها عضوية مجلس إدارة أو إستشارة أو تعاون</label>
            <textarea name="heigh_special_companies" required class="form-control" id="txtArea5" rows="5"></textarea>
          </div>
          <div class="col-lg-6">
            <label class="form-label" for="txtArea6">ارجو إضافة أي إقتراحات أو تفاصيل أو معلومات هامة</label>
            <textarea  required name="extraInfo" class="form-control" id="txtArea6" rows="5"></textarea>
          </div>
          <div class="col-12">
            <label class="form-label" for="licensesFiles">الرخص المهنية</label>
            <input name="attachments" class="form-control" id="licensesFiles" type="file" multiple>
          </div>
          <div class="col-12">
            <button class="btn mx-auto button-primary  mt-4 submit-btn" type="submit">إرسال</button>
          </div>
        </form>
      </div>
    </div>
  </section>
</main>


{% endblock content %}

