{% load static %}
<nav class="navbar fixed-top navbar-expand-xl bg-primary">
  <div class="container">
    <a class="navbar-brand brand logo_margin_right_en" href="{% url 'en_home' %}"
      ><img
        class="logo-dimension"
        src="{% static '/imgs/logos/UHX-white.svg' %}"
        alt="uhx logo"
    /></a>
    <button
      class="navbar-toggler collapsed position-relative d-flex d-xl-none flex-column justify-content-around icon-button"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="toggler-icon top-bar"></span
      ><span class="toggler-icon mid-bar"></span
      ><span class="toggler-icon bottom-bar"></span>
    </button>
    <div class="collapse navbar-collapse flex-start" id="navbarSupportedContent">
      <ul class="navbar-nav navbar-nav-scroll me-auto mb-2 mb-lg-0 gap-3">
        <li class="nav-item">
          <a
            class="nav-link text-white fs-6 fw-normal underline-link px-0 text-uppercase text-center pb-3"
            aria-current="page"
            href="{% url 'en_home' %}"
            data-toggle="collapse"
            >Home</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link text-white fs-6 fw-normal underline-link px-0 text-uppercase text-center pb-3"
            aria-current="page"
            href="{% url 'en_about' %}"
            data-toggle="collapse"
            >About Us</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link text-white fs-6 fw-normal underline-link px-0 text-uppercase text-center pb-3"
            aria-current="page"
            href="{% url 'en_services' %}"
            data-toggle="collapse"
            >Our Services</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link text-white fs-6 fw-normal underline-link px-0 text-uppercase text-center pb-3"
            aria-current="page"
            href="{% url 'en_action_aechanism' %}"
            data-toggle="collapse"
            >How It Works</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link text-white fs-6 fw-normal underline-link px-0 text-uppercase text-center pb-3"
            aria-current="page"
            href="{% url 'en_experience' %}"
            data-toggle="collapse"
            >Expertise</a
          >
        </li>
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle text-white fs-6 fw-normal text-uppercase text-center"
            href="#"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
            >Here For You</a
          >
          <ul class="dropdown-menu bg-primary-dark py-0">
            <li class="text-center">
              <a
                class="dropdown-item text-white fs-6 fw-normal text-uppercase text-center circle-effect"
                href="{% url 'en_consultation_request' %}"
                >Request Consultation</a
              >
            </li>
            <li class="text-center">
              <a
                class="dropdown-item text-white fs-6 fw-normal text-uppercase text-center circle-effect"
                href="{% url 'en_join_as_expert_officer' %}"
                >Join as Expert</a
              >
            </li>
            <li class="text-center">
              <a
                class="dropdown-item text-white fs-6 fw-normal text-uppercase text-center circle-effect"
                href="{% url 'en_licenses' %}"
                >Licenses</a
              >
            </li>
          </ul>
        </li>
        <li class="nav-item mx-auto pb-3">
          <button
            class="download-btn btn rounded-button btn-primary d-flex align-items-center fs-6 gap-2 color-primary bg-white border-0"
            id="ArlangBtn"
          >
            العربية
          </button>
        </li>
      </ul>
    </div>
  </div>
</nav>


<script>
  function removeLanguageSegment(path) {
    return path.replace(/^\/en/, '');
}
  // Toggle language
  document.getElementById("ArlangBtn").addEventListener("click", function () {

    const currentUrl = window.location.pathname;
    const arUrl = removeLanguageSegment(currentUrl);
    window.location.pathname = arUrl
  });
</script>