{% load static %}
<footer>
  <div class="footer-sec pt-4">
    <div class="container-fluid custom-container pt-4 mt-3">
      <div class="row pt-4">
        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 mb-3" style="text-align:start;">
          <img src="{% static 'images/main-logo.svg' %}" itemprop="image" class="main-logo-footer" alt="image" />
          <p itemprop="description" class="des-footer">
            بيت الخبراء يفتح أبوابه لأي تطوير أو تغيير و يأخذ معك
            رحلة التغيير من البداية.
          </p>

          <ul class="footer_social">
            <li>
              <a href="https://www.instagram.com/uhx_sa/" title="instgram-link" target="">
                <img src="{% static 'images/social_nav/instagram-filled.svg' %}" width="50" alt="instagram" title="instagram"
                  style="width: 24px;height: 24px;">
              </a>
            </li>
            <li>
              <a href="#" title="twitter-link" target="">
                <img src="{% static 'images/social_nav/twitter-outlined.svg' %}" width="50" alt="twitter" title="twitter"
                  style="width: 21px;height: 21px;">
              </a>
            </li>
            </li>
          </ul>


        </div>
        <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8 mb-3">
          <div class="d-flex flex-wrap justify-content-start align-items-start" style="gap: 2rem;">
            <div>
              <h5 class="sec-title-footer" itemprop="title">
                روابط تهمك
              </h5>
              <ul class="ul-footer">
                <li>
                  <a href="{% url 'about' %}" class="footer-link">
                    من نحن
                  </a>
                </li>
                <li>
                  <a href="{% url 'experience' %}" class="footer-link">
                    الخبرات
                  </a>
                </li>
                <li>
                  <a href="{% url 'services' %}" class="footer-link">
                    خدماتنا
                  </a>
                </li>
                <li>
                  <a href="{% url 'action_aechanism' %}" class="footer-link">
                    الية العمل
                  </a>
                </li>
              </ul>
            </div>
            <div>
              <h5 class="sec-title-footer" itemprop="title">
                نحن معك دائما
              </h5>
              <ul class="ul-footer">
                <li>
                  <a href="{% url 'consultation_request' %}" class="footer-link">
                    طلب استشارة
                  </a>
                </li>
                <li>
                  <a href="{% url 'join_as_expert_officer' %}" class="footer-link">
                    انضم كخبير
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="line"></div>
      <div class="copy-right-sec py-3 text-center">
        <p class="copyright-des" itemprop="description">
          حقوق النشر © 2024 بيت الخبراء الموحد. كل الحقوق محفوظة.
        </p>
      </div>
    </div>
  </div>
</footer>