{% load static %}
<header class="fixed_header">
  <nav class="navbar navbar-expand-lg navbar-bg py-2">
    <a class="navbar-brand" href="{% url 'home' %}">
      <img src="{% static 'images/main-logo.svg' %}" alt="images" itemprop="images" class="header_logo" />
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" style="border: 0px; ">
      <img src="{% static 'images/home/bars.svg' %}" alt="icon" itemprop="image" />
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ">
        <li class="nav-item active">
          <a class="nav-link" href="{% url 'home' %}">الرئيسية</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'about' %}">من نحن</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'experience' %}"> الخبرات</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown1" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            خدماتنا
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown1">
            <a class="dropdown-item" href="{% url 'services' %}">خدماتنا</a>
            <a class="dropdown-item" href="{% url 'licenses' %}">التراخيص</a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'action_aechanism' %}"> ألية العمل</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown2" role="button" data-toggle="dropdown" aria-haspopup="true"  aria-expanded="false">
            نحن معك دائما
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown2">
            <a class="dropdown-item" href="{% url 'consultation_request' %}">طلب استشارة</a>
            <a class="dropdown-item" href="{% url 'join_as_expert_officer' %}">انضم كخبير</a>
          </div>
        </li>
      </ul>
    </div>
  </nav>
</header>
