{% extends "en/base.html" %}
{% load static %}



{% block content %}



  <header class="banner banner-home d-flex justify-content-center align-items-center">
    <div class="container">
      <div class="content d-flex flex-column text-white">
        <h2 class="content-title h1 fs-1 fw-semibold fw-lg-bold lh-base text-center w-50 mx-auto custom-title" data-aos="fade-down">
          The Experts' House Opens Its Doors and Takes You on a Journey of Change from the Beginning</h2>
      </div>
    </div>
  </header>
  <section class="intro d-flex justify-content-center align-items-center">
    <div class="container">
      <div class="d-flex flex-column justify-content-center align-items-center">
        <h2 class="color-primary fs-2 fw-semibold fw-lg-bold lh-base custom-title" data-aos="fade-down">We Have Gathered Here from All Around</h2>
        <p class="fs-4 fw-normal fw-lg-medium lh-base w-75 text-center custom-txt" data-aos="fade-down">To share our expertise and knowledge with anyone seeking information or a specialist in a field with real-world experience in various financial, administrative, and business activities.</p>
        <div class="buttons-group d-flex align-items-start gap-3" data-aos="fade-right">
          <a href="{% url 'en_about' %}" class="btn circle-btn button-primary" type="button">About Us</a>
          <a href="{% url 'en_consultation_request' %}" class="btn circle-btn button-light" type="button">Contact Us</a>
        </div>
      </div>
    </div>
  </section>
  <section class="slogan bg-gray2">
    <div class="container">
      <div class="d-flex align-items-center justify-content-center pb-4" data-aos="fade-down"><img class="d-none"
          src="{% static './imgs/icons/arrow-left-line.svg' %}" alt="arrow icon" />
        <h3 class="h3 mb-0 color-primary text-uppercase custom-title">Unified Experts' House</h3>
      </div>
      <div class="slogan-items g-3 justify-content-between d-flex flex-row flex-wrap">
        <figure class="slogan-figure text-center shadow row flex-column align-items-center" data-aos="fade-right"><img
            class="img-fluid slogan-img" src="{% static '/imgs/icons/deal.png' %}" alt="client">
          <figcaption class="fs-4 fw-bold color-primary">
            <h5 class="custom-title3">تعاون</h5>
            <h5 class="custom-title3">Cooperation</h5>
          </figcaption>
        </figure>
        <figure class="slogan-figure text-center shadow row flex-column align-items-center" data-aos="fade-up"><img
            class="img-fluid slogan-img" src="{% static '/imgs/icons/content-strategy.png' %}" alt="client">
          <figcaption class="fs-4 fw-bold color-primary">
            <h5 class="custom-title3">إستراتيجية</h5>
            <h5 class="custom-title3">Strategy</h5>
          </figcaption>
        </figure>
        <figure class="slogan-figure text-center shadow row flex-column align-items-center" data-aos="fade-down"><img
            class="img-fluid slogan-img" src="{% static '/imgs/icons/creativity.png' %}" alt="client">
          <figcaption class="fs-4 fw-bold color-primary">
            <h5 class="custom-title3">إبتكار</h5>
            <h5 class="custom-title3">Innovation</h5>
          </figcaption>
        </figure>
        <figure class="slogan-figure text-center shadow row flex-column align-items-center" data-aos="fade-left"><img
            class="img-fluid slogan-img" src="{% static '/imgs/icons/growth.png' %}" alt="client">
          <figcaption class="fs-4 fw-bold color-primary">
            <h5 class="custom-title3">نجاح</h5>
            <h5 class="custom-title3">Success</h5>
          </figcaption>
        </figure>
      </div>
    </div>
  </section>
  <section class="ceo">
    <div class="container">
      <div class="d-flex align-items-center justify-content-center pb-4" data-aos="fade-down"><img class="d-none"
        src="{% static './imgs/icons/arrow-left-line.svg' %}" alt="arrow icon" />
        <h3 class="h3 mb-0 color-primary text-uppercase custom-title">Message from the CEO</h3>
      </div>
      <div class="custom-row row justify-content-between">
        <div class="col-12 col-lg-8">
          <p class="ceo-word custom-txt" data-aos="fade-right"><span>The principle of consultation in our lives is a correct approach that we must prioritize<span class='color-primary'> to ensure, God willing, stability, continuity, and success for our businesses and institutions.</span>Since the success of this field lies in setting goals correctly, <span class='color-primary'>achieving these goals depends on following proper, clear, and proven steps,</span> thereby creating a smooth and flexible methodology that leads us to achieve our objectives. Based on this, we established <span class='color-primary fw-bold'>&quot;Unified Experts' House&quot;</span> to bring together our experts with entrepreneurs and business owners, enabling them to reach their goals through a specialized expert in their field with proven practical experience.</span></p>
        </div>
        <div class="col-12 col-lg-4"><a href="https://www.linkedin.com/in/rawad-zarea-"><img class="img-fluid img-ceo"
              src="{% static '/imgs/background/executive.png' %}" alt="CEO" data-aos="zoom-in-left"></a></div>
      </div>
    </div>
  </section>
  <section class="start-about bg-gray2">
    <div class="container">
      <div class="d-flex flex-column justify-content-center align-items-center">
        <div class="d-flex align-items-center justify-content-center pb-4" data-aos="fade-down">
          <h3 class="h3 mb-0 color-primary text-uppercase custom-title">The Beginning</h3>
        </div>
        <p class="fs-4 fw-normal fw-lg-medium lh-base w-75 text-center custom-txt" data-aos="fade-down"><span class='color-primary fw-bold'>"Unified Experts House"</span> was established in 2023 to become a leading Saudi institution combining expertise and consultancy. It serves as a meeting point for experts, entrepreneurs, and business owners, offering professional consulting solutions that contribute to achieving their goals through well-planned steps and effective methodologies ensuring stability and success.</p>
      </div>
    </div>
  </section>
  <section class="who">
    <div class="container">
      <div class="d-flex align-items-center justify-content-center pb-4" data-aos="fade-down"><img class="d-none"
        src="{% static './imgs/icons/arrow-left-line.svg' %}" alt="arrow icon" />
        <h3 class="h3 mb-0 color-primary text-uppercase custom-title">In Our House, an Expert</h3>
      </div>
      <div class="row row-cols-1 row-cols-lg-3 g-4 cards-p">
        <div class="col">
          <div class="card h-100 shadow border-0" data-aos="flip-left"><img class="card-img-top"
              src="{% static '/imgs/background/grid1.png' %}" alt="card image" height="269px">
            <div class="card-body text-center card-content">
              <h5 class="card-title color-primary fw-bold custom-title3">Establishment</h5>
              <p class="card-text lh-lg custom-txt3">Through our experience as founders of the Experts' House, we have gained many friends, colleagues, and acquaintances in various fields. No matter what your project or goal is, we will search within our house for what meets your needs, or we may host someone specifically for your project to fulfill your request.<span class="d-inline-block color-primary"></span></p>
            </div>
        </div>
          </div>
        <div class="col">
          <div class="card h-100 shadow border-0" data-aos="flip-up"><img class="card-img-top"
              src="{% static '/imgs/background/grid2.png' %}" alt="card image" height="269px">
            <div class="card-body text-center card-content">
              <h5 class="card-title color-primary fw-bold custom-title3">Goals</h5>
              <p class="card-text lh-lg custom-txt3">We give our experts the opportunity to practice their passion by sharing their knowledge, and we provide our clients with quality, speed of execution, and results that meet their ambitions and goals without complications or delays.<span class="d-inline-block color-primary"></span></p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card h-100 shadow border-0" data-aos="flip-right"><img class="card-img-top"
              src="{% static '/imgs/background/grid3.png' %}" alt="card image" height="269px">
            <div class="card-body text-center card-content">
              <h5 class="card-title color-primary fw-bold custom-title3">Our Vision</h5>
              <p class="card-text lh-lg custom-txt3">It is to contribute to the establishment of national institutions working with the concept of sustainability and continuity, directly supporting the pillars of the national economy, by applying institutional work standards, restructuring, and establishing solid foundations and infrastructure. This will be done through a set of services and programs that create a good and professional work environment and a clear strategy with one goal: <span class="d-inline-block color-primary">&quot;Governance and Sustainability&quot;</span></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="exp bg-gray2 overflow-x-hidden">
    <div class="exp-body text-center">
      <h3 class="fs-bold h3 mb-0 color-primary text-uppercase custom-title">Expertise</h3>
      <p class="txt custom-txt" data-aos="zoom-in-up">Our experts have worked in different fields and leading sectors. Here, we will showcase the organizations our experts joined during their professional careers.</p>
    </div>
    <div class="clients position-relative overflow-hidden w-100" id="scrollableElement">
      <div class="marquee d-flex justify-content-between"><img class="img-fluid client-img" id="marquee"
          src=" {% static 'imgs/exprience_logos/Asset-94.png' %} " alt="client logo"><img class="img-fluid client-img"
          id="marquee" src=" {% static 'imgs/exprience_logos/Asset-95.png' %} " alt="client logo"><img
          class="img-fluid client-img" id="marquee" src=" {% static 'imgs/exprience_logos/Asset-96.png' %} "
          alt="client logo"><img class="img-fluid client-img" id="marquee"
          src=" {% static 'imgs/exprience_logos/Asset-97.png' %} " alt="client logo"><img class="img-fluid client-img"
          id="marquee" src=" {% static 'imgs/exprience_logos/Asset-98.png' %} " alt="client logo"><img
          class="img-fluid client-img" id="marquee" src=" {% static 'imgs/exprience_logos/Asset-99.png' %} "
          alt="client logo"><img class="img-fluid client-img" id="marquee"
          src=" {% static 'imgs/exprience_logos/Asset-100.png' %} " alt="client logo"><img class="img-fluid client-img"
          id="marquee" src=" {% static 'imgs/exprience_logos/Asset-101.png' %} " alt="client logo"><img
          class="img-fluid client-img" id="marquee" src=" {% static 'imgs/exprience_logos/Asset-102.png' %} "
          alt="client logo">
      </div>
    </div>
    <div class="exp-btn text-center pt-4"><a class="exp-btn btn circle-btn button-primary"
        href="{% url 'en_experience' %}">View More</a>
    </div>
  </section>
  <section class="services">
    <div class="container">
      <div class="d-flex align-items-center justify-content-center pb-4" data-aos="fade-down"><img class="d-none"
        src="{% static './imgs/icons/arrow-left-line.svg' %}" alt="arrow icon" />
        <h3 class="h3 mb-0 color-primary text-uppercase custom-title">Our Services</h3>
      </div>
      <div class="row justify-content-between mt-4 service-wrapper">
        <div class="col-12 col-lg-4 text-center"><img class="img-fluid service-img"
            src="{% static 'imgs/background/service1-2.png' %}" alt="service 1" data-aos="zoom-out-up"></div>
        <div class="col-12 col-lg-8">
          <div class="content" data-aos="zoom-in-left">
            <h3 class="fs-bold h3 mb-0 color-primary text-uppercase custom-title2">Creating Success Stories</h3>
            <p class="service-txt m-0 w-100 custom-txt"><span>When you face an obstacle or have an idea and perhaps aspire for certain development in a sector or at the enterprise level, then<span class='fw-bold'> The Experts' House</span> opens its doors for any development or change and takes you on the journey of transformation from the beginning. Every client of the Unified Experts' House is a guest who receives full attention and discussion until the idea is fully formed.</span></p>
          </div>
        </div>
      </div>
      <div class="row flex-row-reverse justify-content-between mt-4">
        <div class="col-12 col-lg-4 text-center"><img class="img-fluid service-img"
            src="{% static 'imgs/background/service2-2.png' %}" alt="service 1" data-aos="zoom-out-down"></div>
        <div class="col-12 col-lg-8">
          <div class="content" data-aos="zoom-in-right">
            <h3 class="fs-bold h3 mb-0 color-primary text-uppercase custom-title2">Achieving Sustainability</h3>
            <p class="service-txt m-0 w-100 custom-txt"><span>We aim to be the house for any organization that wishes to reorganize and move towards an organized institutional work by applying quality, governance, and development standards that match both national and international aspirations, helping organizations – whether emerging or medium and small enterprises – to a more stable and sustainable level.<span class='fw-bold'>A More Stable and Stronger Foundation</span></span></p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="works">
    <div class="container">
      <h3 class="fs-bold h3 mb-0 text-uppercase text-center text-white custom-title" data-aos="fade-down">Specializations</h3>
      <div class="row row-cols-2 row-cols-sm-2 row-cols-lg-4 justify-content-between mt-4">
        <figure class="work-special text-center col" data-aos="zoom-in"><img class="img-fluid"
            src="{% static 'imgs/specialization_icons/Asset-1.svg' %}" alt="asset" width="85" height="85">
          <figcaption class="lh-base fs-5 text-white custom-txt2">Governance of Boards of Directors</figcaption>
        </figure>
        <figure class="work-special text-center col" data-aos="zoom-in"><img class="img-fluid"
            src="{% static 'imgs/specialization_icons/Asset-2.svg' %}" alt="asset" width="85" height="85">
          <figcaption class="lh-base fs-5 text-white custom-txt2">Governance of Private and Family Companies</figcaption>
        </figure>
        <figure class="work-special text-center col" data-aos="zoom-in"><img class="img-fluid"
            src=" {% static 'imgs/specialization_icons/Asset-3.svg' %} " alt="asset" width="85" height="85">
          <figcaption class="lh-base fs-5 text-white custom-txt2">Business and Strategy Development</figcaption>
        </figure>
        <figure class="work-special text-center col" data-aos="zoom-in"><img class="img-fluid"
            src=" {% static 'imgs/specialization_icons/Asset-4.svg' %} " alt="asset" width="85" height="85">
          <figcaption class="lh-base fs-5 text-white custom-txt2">Human Capital Strategies</figcaption>
        </figure>
        <figure class="work-special text-center col" data-aos="zoom-in"><img class="img-fluid"
            src=" {% static 'imgs/specialization_icons/Asset-5.svg' %} " alt="asset" width="85" height="85">
          <figcaption class="lh-base fs-5 text-white custom-txt2">Attracting and Building Human Talent</figcaption>
        </figure>
        <figure class="work-special text-center col" data-aos="zoom-in"><img class="img-fluid"
            src=" {% static 'imgs/specialization_icons/Asset-6.svg' %} " alt="asset" width="85" height="85">
          <figcaption class="lh-base fs-5 text-white custom-txt2">Legal Consultations</figcaption>
        </figure>
        <figure class="work-special text-center col" data-aos="zoom-in"><img class="img-fluid"
            src=" {% static 'imgs/specialization_icons/Asset-7.svg' %} " alt="asset" width="85" height="85">
          <figcaption class="lh-base fs-5 text-white custom-txt2">Research and Marketing Strategies</figcaption>
        </figure>
        <figure class="work-special text-center col" data-aos="zoom-in"><img class="img-fluid"
            src=" {% static 'imgs/specialization_icons/Asset-8.svg' %} " alt="asset" width="85" height="85">
          <figcaption class="lh-base fs-5 text-white custom-txt2">Finance and Islamic Sukuk</figcaption>
        </figure>
      </div>
      <div class="exp-btn text-center pt-4"><a class="works-btn btn circle-btn button-light"
          href="{% url 'en_services' %}">View More</a></div>
    </div>
  </section>
  <section class="how-work">
    <div class="container">
      <div class="d-flex align-items-center justify-content-center pb-4" data-aos="fade-down"><img class="d-none"
          src="{% static 'imgs/icons/arrow-left-line.svg' %}" alt="arrow icon" />
        <h3 class="h3 mb-0 color-primary text-uppercase custom-title">How It Works</h3>
      </div>
      <p class="service-txt m-0 w-75 mx-auto text-center pt-0 custom-txt custom-width"><span>We will host you to get to know each other better and hear from you what your aspirations are. Based on that, we will tell you what we think to achieve these aspirations and what the best practices are.</span></p>
      <ul class="timeline">
        <li class="timeline" data-aos="fade-right">
          <div class="icon shadow d-flex justify-content-center align-items-center color-primary icon-1"></div>
          <details class="panel">
            <summary class="custom-txt2">Idea Execution Process</summary>
          </details>
        </li>
        <li class="timeline" data-aos="fade-left">
          <div class="icon shadow d-flex justify-content-center align-items-center color-primary icon-2"></div>
          <details class="panel">
            <summary class="custom-txt2">The Expert or Team for This Task</summary>
          </details>
        </li>
        <li class="timeline" data-aos="fade-right">
          <div class="icon shadow d-flex justify-content-center align-items-center color-primary icon-3"></div>
          <details class="panel">
            <summary class="custom-txt2">What Expertise Fits Your Project</summary>
          </details>
        </li>
        <li class="timeline" data-aos="fade-left">
          <div class="icon shadow d-flex justify-content-center align-items-center color-primary icon-4"></div>
          <details class="panel">
            <summary class="custom-txt2">Execution Time and Cost</summary>
          </details>
        </li>
        <li class="timeline" data-aos="fade-right">
          <div class="icon shadow d-flex justify-content-center align-items-center color-primary icon-5"></div>
          <details class="panel">
            <summary class="custom-txt2">Then we ask you to set an appointment for the expert to explain in detail what will be done.</summary>
          </details>
        </li>
      </ul>
    </div>
  </section>
  <section class="consultant-steps">
    <div class="d-flex align-items-center justify-content-center pb-4" data-aos="fade-down">
      <h3 class="h3 mb-0 color-primary text-uppercase custom-title">Consultation Stages</h3>
    </div>
    <ul>
      <li data-aos="fade-right">
        <h4 class="step-title circle-1">Assessment and Diagnosis</h4>
        <p class="desc text-center">Collecting and analyzing data to understand challenges and needs</p>
      </li>
      <li data-aos="fade-left">
        <h4 class="step-title circle-2">Defining Scope of Work</h4>
        <p class="desc text-center">Clarifying objectives, activities, and timeframe</p>
      </li>
      <li data-aos="fade-right">
        <h4 class="step-title circle-3">Planning and Implementation</h4>
        <p class="desc text-center">Developing a clear strategy and implementing solutions with ongoing support</p>
      </li>
      <li data-aos="fade-left">
        <h4 class="step-title circle-4">Evaluation and Final Recommendations</h4>
        <p class="desc text-center">Measuring results against objectives and providing sustainable recommendations</p>
      </li>
    </ul>
  </section>
  <section class="our-clients">
    <div class="container">
      <div class="d-flex align-items-center justify-content-center pb-4" data-aos="fade-down"><img class="d-none"
          src=" {% static 'imgs/icons/arrow-left-line.svg' %} " alt="arrow icon" />
        <h3 class="h3 mb-0 color-primary text-uppercase custom-title">Our Prominent Clients</h3>
      </div>
      <div class="slider-wrapper">
        <div class="clients-slider owl-carousel owl-theme">
          <figure class="slider-figure text-center item client-fig shadow d-flex flex-column align-items-center"><img
              class="img-fluid client-logo" src="{% static 'imgs/logos/client1.svg' %}" alt="client">
            <figcaption class="fs-5 fw-bold color-primary custom-txt2">Digitization Solutions Brokerage Company</figcaption>
          </figure>
          <figure class="slider-figure text-center item client-fig shadow d-flex flex-column align-items-center"><img
              class="img-fluid client-logo" src="{% static 'imgs/logos/client2.png' %}" alt="client">
            <figcaption class="fs-5 fw-bold color-primary custom-txt2">National Business Development</figcaption>
          </figure>
          <figure class="slider-figure text-center item client-fig shadow d-flex flex-column align-items-center"><img
              class="img-fluid client-logo" src="{% static 'imgs/logos/client3.png' %}" alt="client">
            <figcaption class="fs-5 fw-bold color-primary custom-txt2">Imkan Arabia</figcaption>
          </figure>
          <figure class="slider-figure text-center item client-fig shadow d-flex flex-column align-items-center"><img
              class="img-fluid client-logo" src="{% static 'imgs/logos/client4.png' %}" alt="client">
            <figcaption class="fs-5 fw-bold color-primary custom-txt2">Imdad Food</figcaption>
          </figure>
          <figure class="slider-figure text-center item client-fig shadow d-flex flex-column align-items-center"><img
              class="img-fluid client-logo" src="{% static 'imgs/logos/client5.png' %}" alt="client">
            <figcaption class="fs-5 fw-bold color-primary custom-txt2">Green Papers School</figcaption>
          </figure>
          <figure class="slider-figure text-center item client-fig shadow d-flex flex-column align-items-center"><img class="img-fluid client-logo" src="{% static 'imgs/logos/client6.png' %}" alt="client">
            <figcaption class="fs-5 fw-bold color-primary custom-txt2">AWJ Holding Company</figcaption>
          </figure>
          <figure class="slider-figure text-center item client-fig shadow d-flex flex-column align-items-center"><img class="img-fluid client-logo" src="{% static 'imgs/logos/client7.png' %}" alt="client">
            <figcaption class="fs-5 fw-bold color-primary custom-txt2">ALBALAD ALAMEEN</figcaption>
          </figure>
          <figure class="slider-figure text-center item client-fig shadow d-flex flex-column align-items-center"><img class="img-fluid client-logo" src="{% static 'imgs/logos/client8.png' %}" alt="client">
            <figcaption class="fs-5 fw-bold color-primary custom-txt2">Shezan</figcaption>
          </figure>
        </div>
      </div>
  </section>
  <section class="features">
    <div class="container">
      <h3 class="h3 mb-0 text-white text-uppercase mb-4 custom-title" data-aos="fade-down">What Sets Us Apart?</h3>
      <div class="carousel slide" id="features-carousel" data-bs-ride="carousel">
        <div class="carousel-indicators">
          <button class="active" type="button" data-bs-target="#features-carousel" data-bs-slide-to="0"
            aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#features-carousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
        </div>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <p class="fs-5 w-75 text-center text-white mx-auto lh-lg feature-text custom-txt">The uniqueness we added in Unified Experts' House is the consultative supervision service. We placed ourselves on your side, following up on the work from your location to ensure the quality of the studies provided to you. We discuss them on your behalf, review them, and ensure their accuracy and feasibility.</p>
          </div>
          <div class="carousel-item">
            <p class="fs-5 w-75 text-center text-white mx-auto lh-lg feature-text custom-txt">Beautiful reports and ambitious data need someone to analyze them with an expert's eye to ensure their effectiveness. That’s why our experts lay the foundation with their knowledge, document the rules and pillars with their expertise, and supervise the process with their experience. This creates a structure of information that protects our goals.</p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="contact">
    <div class="container">
      <div class="d-flex align-items-center justify-content-center pb-4" data-aos="fade-down"><img class="d-none"
        src="{% static './imgs/icons/arrow-left-line.svg' %}" alt="arrow icon" />
        <h3 class="h3 mb-0 color-primary text-uppercase custom-title">We Are Always Here For You</h3>
      </div>
      <div class="contact-form mt-4 shadow">
        <div class="row row-cols-1 row-cols-lg-2 justify-content-between" data-aos="zoom-out">
          <div class="img-wrapper d-none d-lg-block"></div>
          <div class="form-wrapper">
            <div class="content py-4">
              <h3 class="text-center colot-primary custom-title2">Request Consultation</h3>
              <p class="text-center colot-primary lh-base custom-txt"><span>Thank you for your interest in<span class=fw-bold>&quot;Unified Experts' House&quot;!</span> Contact us and share your questions, suggestions, and ideas. We are always happy to hear from you.</span></p>
            </div>
            <form class="form row g-3" method="post" action="{% url 'en_home_consultation_form' %}">
              {% csrf_token %}
              <div class="col-12 col-lg-6">
                <input name="first_name" required class="form-control custom-txt2" type="text" placeholder="First Name" aria-label="First name">
              </div>
              <div class="col-12 col-lg-6">
                <input name="last_name" required class="form-control custom-txt2" type="text" placeholder="Last Name" aria-label="Last name">
              </div>
              <div class="col-12">
                <input name="email" required class="form-control custom-txt2" type="email" placeholder="Email">
              </div>
              <div class="col-12">
                <input name="phone" class="form-control custom-txt2" id="tel" type="tel" placeholder="Phone Number" required>
              </div>
              <div class="col-12">
                <textarea name="message" required class="form-control custom-txt2" rows="5" placeholder="Consultation Details"></textarea>
              </div>
              <button class="btn mx-auto button-primary w-50 mt-4 submit-btn" type="submit">Submit</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>




{% endblock content %}

