{% extends "en/base.html" %} {% load static %} {% block content %}
<header
  class="banner banner-service d-flex justify-content-center align-items-center"
></header>

<main class="main-about">
  <section class="services">
    <div class="container">
      <div
        class="d-flex align-items-center justify-content-center pb-4"
        data-aos="fade-down"
      >
        <img
          class="d-none"
          src="{% static 'imgs/icons/arrow-left-line.svg' %}"
          alt="arrow icon"
        />
        <h3 class="h3 mb-0 color-primary text-uppercase custom-title">
          Our Services
        </h3>
      </div>
      <div class="row justify-content-between mt-4 service-wrapper">
        <div class="col-12 col-lg-4 text-center">
          <img
            class="img-fluid service-img"
            src="{% static 'imgs/background/service1-2.png' %}"
            alt="service 1"
            data-aos="zoom-out-up"
          />
        </div>
        <div class="col-12 col-lg-8">
          <div class="content" data-aos="zoom-in-left">
            <h3
              class="fs-bold h3 mb-0 color-primary text-uppercase custom-title2"
            >
              Creating Success Stories
            </h3>
            <p class="service-txt m-0 w-100 custom-txt">
              <span
                >When you face an obstacle or have an idea and perhaps aspire
                for certain development in a sector or at the enterprise level,
                then<span class="fw-bold"> The Experts' House</span> opens its
                doors for any development or change and takes you on the journey
                of transformation from the beginning. Every client of the
                Unified Experts' House is a guest who receives full attention
                and discussion until the idea is fully formed.</span
              >
            </p>
          </div>
        </div>
      </div>
      <div class="row flex-row-reverse justify-content-between mt-4">
        <div class="col-12 col-lg-4 text-center">
          <img
            class="img-fluid service-img"
            src="{% static 'imgs/background/service2-2.png' %}"
            alt="service 1"
            data-aos="zoom-out-down"
          />
        </div>
        <div class="col-12 col-lg-8">
          <div class="content" data-aos="zoom-in-right">
            <h3
              class="fs-bold h3 mb-0 color-primary text-uppercase custom-title2"
            >
              Achieving Sustainability
            </h3>
            <p class="service-txt m-0 w-100 custom-txt">
              <span
                >We aim to be the house for any organization that wishes to
                reorganize and move towards an organized institutional work by
                applying quality, governance, and development standards that
                match both national and international aspirations, helping
                organizations – whether emerging or medium and small enterprises
                – to a more stable and sustainable level.<span class="fw-bold"
                  >A More Stable and Stronger Foundation</span
                ></span
              >
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="works">
    <div class="container">
      <h3
        class="fs-bold h3 mb-0 text-uppercase text-center text-white custom-title2"
        data-aos="fade-down"
      >
        Specializations
      </h3>
      <p
        class="py-3 fs-5 lh-base w-50 mx-auto text-white text-center custom-txt custom-width"
      >
        Our experts have worked in various fields and pioneering sectors, and
        here we will showcase the organizations that our experts have joined
        during their professional careers
      </p>
      <div
        class="row row-cols-2 row-cols-sm-2 row-cols-lg-4 justify-content-center mt-4"
      >
        <figure class="work-special text-center col" data-aos="zoom-in">
          <img
            class="img-fluid"
            src="{% static 'imgs/specialization_icons/Asset-1.svg' %}"
            alt="asset"
            width="85"
            height="85"
          />
          <figcaption class="lh-base fs-5 text-white custom-txt2">
            Governance of Boards of Directors
          </figcaption>
        </figure>
        <figure class="work-special text-center col" data-aos="zoom-in">
          <img
            class="img-fluid"
            src="{% static 'imgs/specialization_icons/Asset-2.svg' %}"
            alt="asset"
            width="85"
            height="85"
          />
          <figcaption class="lh-base fs-5 text-white custom-txt2">
            Governance of Private and Family Companies
          </figcaption>
        </figure>
        <figure class="work-special text-center col" data-aos="zoom-in">
          <img
            class="img-fluid"
            src="{% static 'imgs/specialization_icons/Asset-3.svg' %}"
            alt="asset"
            width="85"
            height="85"
          />
          <figcaption class="lh-base fs-5 text-white custom-txt2">
            Business and Strategy Development
          </figcaption>
        </figure>
        <figure class="work-special text-center col" data-aos="zoom-in">
          <img
            class="img-fluid"
            src="{% static 'imgs/specialization_icons/Asset-4.svg' %}"
            alt="asset"
            width="85"
            height="85"
          />
          <figcaption class="lh-base fs-5 text-white custom-txt2">
            Human Capital Strategies
          </figcaption>
        </figure>
        <figure class="work-special text-center col" data-aos="zoom-in">
          <img
            class="img-fluid"
            src="{% static 'imgs/specialization_icons/Asset-5.svg' %}"
            alt="asset"
            width="85"
            height="85"
          />
          <figcaption class="lh-base fs-5 text-white custom-txt2">
            Attracting and Building Human Talent
          </figcaption>
        </figure>
        <figure class="work-special text-center col" data-aos="zoom-in">
          <img
            class="img-fluid"
            src="{% static 'imgs/specialization_icons/Asset-6.svg' %}"
            alt="asset"
            width="85"
            height="85"
          />
          <figcaption class="lh-base fs-5 text-white custom-txt2">
            Legal Consultations
          </figcaption>
        </figure>
        <figure class="work-special text-center col" data-aos="zoom-in">
          <img
            class="img-fluid"
            src="{% static 'imgs/specialization_icons/Asset-7.svg' %}"
            alt="asset"
            width="85"
            height="85"
          />
          <figcaption class="lh-base fs-5 text-white custom-txt2">
            Research and Marketing Strategies
          </figcaption>
        </figure>
        <figure class="work-special text-center col" data-aos="zoom-in">
          <img
            class="img-fluid"
            src="{% static 'imgs/specialization_icons/Asset-8.svg' %}"
            alt="asset"
            width="85"
            height="85"
          />
          <figcaption class="lh-base fs-5 text-white custom-txt2">
            Finance and Islamic Sukuk
          </figcaption>
        </figure>
        <figure class="work-special text-center col" data-aos="zoom-in">
          <img
            class="img-fluid"
            src="{% static 'imgs/specialization_icons/Asset-9.svg' %}"
            alt="asset"
            width="85"
            height="85"
          />
          <figcaption class="lh-base fs-5 text-white custom-txt2">
            FinTech
          </figcaption>
        </figure>
        <figure class="work-special text-center col" data-aos="zoom-in">
          <img
            class="img-fluid"
            src="{% static 'imgs/specialization_icons/Asset-10.svg' %}"
            alt="asset"
            width="85"
            height="85"
          />
          <figcaption class="lh-base fs-5 text-white custom-txt2">
            Investment Readiness and Investment Rounds
          </figcaption>
        </figure>
        <figure class="work-special text-center col" data-aos="zoom-in">
          <img
            class="img-fluid"
            src="{% static 'imgs/specialization_icons/Asset-11.svg' %}"
            alt="asset"
            width="85"
            height="85"
          />
          <figcaption class="lh-base fs-5 text-white custom-txt2">
            Accounting and Finance
          </figcaption>
        </figure>
        <figure class="work-special text-center col" data-aos="zoom-in">
          <img
            class="img-fluid"
            src="{% static 'imgs/specialization_icons/Asset-12.svg' %}"
            alt="asset"
            width="85"
            height="85"
          />
          <figcaption class="lh-base fs-5 text-white custom-txt2">
            Compliance and Risk Management
          </figcaption>
        </figure>
        <figure class="work-special text-center col" data-aos="zoom-in">
          <img
            class="img-fluid"
            src="{% static 'imgs/specialization_icons/Asset-13.svg' %}"
            alt="asset"
            width="85"
            height="85"
          />
          <figcaption class="lh-base fs-5 text-white custom-txt2">
            Listing and Registration
          </figcaption>
        </figure>
        <figure class="work-special text-center col" data-aos="zoom-in">
          <img
            class="img-fluid"
            src="{% static 'imgs/specialization_icons/Asset-14.svg' %}"
            alt="asset"
            width="85"
            height="85"
          />
          <figcaption class="lh-base fs-5 text-white custom-txt2">
            Real Estate Contributions
          </figcaption>
        </figure>
        <figure class="work-special text-center col" data-aos="zoom-in">
          <img
            class="img-fluid"
            src="{% static 'imgs/specialization_icons/Asset-15.svg' %}"
            alt="asset"
            width="85"
            height="85"
          />
          <figcaption class="lh-base fs-5 text-white custom-txt2">
            Property Management and Valuation
          </figcaption>
        </figure>
        <figure class="work-special text-center col" data-aos="zoom-in">
          <img
            class="img-fluid"
            src="{% static 'imgs/specialization_icons/Asset-16.svg' %}"
            alt="asset"
            width="85"
            height="85"
          />
          <figcaption class="lh-base fs-5 text-white custom-txt2">
            Quality and Customer Experience
          </figcaption>
        </figure>
        <figure class="work-special text-center col" data-aos="zoom-in">
          <img
            class="img-fluid"
            src="{% static 'imgs/specialization_icons/Asset-17.svg' %}"
            alt="asset"
            width="85"
            height="85"
          />
          <figcaption class="lh-base fs-5 text-white custom-txt2">
            Hospitality, Hotels, and Tourism
          </figcaption>
        </figure>
        <figure class="work-special text-center col" data-aos="zoom-in">
          <img
            class="img-fluid"
            src="{% static 'imgs/specialization_icons/Asset-18.svg' %}"
            alt="asset"
            width="85"
            height="85"
          />
          <figcaption class="lh-base fs-5 text-white custom-txt2">
            E-commerce
          </figcaption>
        </figure>
        <figure class="work-special text-center col" data-aos="zoom-in">
          <img
            class="img-fluid"
            src="{% static 'imgs/specialization_icons/Asset-19.svg' %}"
            alt="asset"
            width="85"
            height="85"
          />
          <figcaption class="lh-base fs-5 text-white custom-txt2">
            Visual Identity
          </figcaption>
        </figure>
        <figure class="work-special text-center col" data-aos="zoom-in">
          <img
            class="img-fluid"
            src="{% static 'imgs/specialization_icons/Asset-20.svg' %}"
            alt="asset"
            width="85"
            height="85"
          />
          <figcaption class="lh-base fs-5 text-white custom-txt2">
            Education and Training
          </figcaption>
        </figure>
        <figure class="work-special text-center col" data-aos="zoom-in">
          <img
            class="img-fluid"
            src="{% static 'imgs/specialization_icons/Asset-21.svg' %}"
            alt="asset"
            width="85"
            height="85"
          />
          <figcaption class="lh-base fs-5 text-white custom-txt2">
            Events and Occasions
          </figcaption>
        </figure>
        <figure class="work-special text-center col" data-aos="zoom-in">
          <img
            class="img-fluid"
            src="{% static 'imgs/specialization_icons/Asset-22.svg' %}"
            alt="asset"
            width="85"
            height="85"
          />
          <figcaption class="lh-base fs-5 text-white custom-txt2">
            Supply Chains
          </figcaption>
        </figure>
        <figure class="work-special text-center col" data-aos="zoom-in">
          <img
            class="img-fluid"
            src="{% static 'imgs/specialization_icons/Asset-23.svg' %}"
            alt="asset"
            width="85"
            height="85"
          />
          <figcaption class="lh-base fs-5 text-white custom-txt2">
            Networks and Technical Services
          </figcaption>
        </figure>
      </div>
    </div>
  </section>
</main>
<section class="services bg-gray2">
  <div class="container">
    <div
      class="d-flex align-items-center justify-content-center pb-4"
      data-aos="fade-down"
    >
      <img
        class="d-none"
        src="{% static 'imgs/icons/arrow-left-line.svg' %}"
        alt="arrow icon"
      />
      <h3 class="h3 mb-0 color-primary text-uppercase custom-title">
        What Sets Us Apart
      </h3>
    </div>
    <div class="row justify-content-between mt-4 service-wrapper">
      <div class="col-12 col-lg-4 text-center">
        <img
          class="img-fluid service-img"
          src="{% static 'imgs/background/service3.png' %}"
          alt="service 1"
          data-aos="zoom-out-up"
        />
      </div>
      <div class="col-12 col-lg-8">
        <div class="content" data-aos="zoom-in-left">
          <h3
            class="fs-bold h3 mb-0 color-primary text-uppercase custom-title2"
          >
            The Uniqueness We Added in the Unified Experts' House
          </h3>
          <p class="service-txt m-0 w-100 custom-txt">
            <span
              >It is the consulting supervision service. We place ourselves at
              your side, monitoring the work from your location to ensure the
              quality of the studies provided to you. We discuss them on your
              behalf, review them, and make sure they are accurate and
              applicable.</span
            >
          </p>
        </div>
      </div>
    </div>
    <div class="row flex-row-reverse justify-content-between mt-4">
      <div class="col-12 col-lg-4 text-center">
        <img
          class="img-fluid service-img"
          src="{% static 'imgs/background/service4.png' %}"
          alt="service 1"
          data-aos="zoom-out-down"
        />
      </div>
      <div class="col-12 col-lg-8">
        <div class="content" data-aos="zoom-in-right">
          <h3
            class="fs-bold h3 mb-0 color-primary text-uppercase custom-title2"
          >
            Our Experts Lay the Foundation with Their Knowledge
          </h3>
          <p class="service-txt m-0 w-100 custom-txt">
            <span
              >Beautiful reports and ambitious data need someone to read them
              with the eye of an expert and verify their effectiveness. Our
              experts lay the foundation with their knowledge, document the
              rules and pillars with their expertise, and supervise the process
              with their experience.<span class="fw-bold">
                So that we have a foundation of information that protects our
                goals.</span
              ></span
            >
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock content %}
